Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore(release): publish v3.0.0-alpha.DSY-2151.17.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(lerna): ignore ignore-words.json
  .cicd/release-npm.sh
  .cicd/setup.sh
  lerna.json
Due: none

chore(release): publish v3.0.0-alpha.DSY-2151.22.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v3.0.0-alpha.DSY-2151.24.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore: update gitignore
  .cicd/setup.sh
  .gitignore
Due: none

chore(release): publish v3.0.0-alpha.DSY-2151.32.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore: update gitignore
  .cicd/setup.sh
  .gitignore
  ignore-words.txt
  lerna.json
Due: none

chore(release): publish v3.0.0-alpha.DSY-2151.34.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore: create portal
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Portal/Portal.tsx
  packages/react/src/components/Portal/__mocks__/Portal.tsx
  packages/react/src/components/Portal/index.ts
Due: react

chore(dialog): add onEscapeKeyDown prop
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

BREAKING CHANGE: remove click event and built-in state management (#1467)
  .cicd/release-npm.sh
  .gitignore
  lerna.json
  packages/styles/package.json
  packages/web/package.json
  packages/web/src/Components/Counter/Container.argTypes.ts
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Counter/Counter.stories.tsx
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/Counter.test.tsx
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Counter/constants.ts
  packages/web/src/Components/Divider/Divider.stories.tsx
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/Field/SearchClear/SearchClear.props.ts
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/TextField/TextField.argTypes.ts
  packages/web/src/Components/TextField/TextField.props.ts
  packages/web/src/Components/TextField/TextField.stories.tsx
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/web/src/Components/ToggleButton/ToggleButton.props.ts
  packages/web/src/Components/ToggleButton/ToggleButton.stories.tsx
  packages/web/src/Components/ToggleButton/ToggleButton.tsx
  packages/web/src/Components/ToggleButton/__snapshots__/ToggleButton.test.tsx.snap
  yarn.lock
Due: styles, web

chore(release): publish v3.0.0 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(portal): add tests
  packages/react/src/components/Portal/Portal.test.tsx
  packages/react/src/components/Portal/Portal.tsx
  packages/react/src/components/Portal/__snapshots__/Portal.test.tsx.snap
Due: react

chore(release): publish v3.0.1-alpha.DSY-2008.71.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
  packages/web/package.json
Due: react, web

feat(radio): add new component
  packages/react/src/components/RadioButton/RadioButton.props.ts
  packages/react/src/components/RadioButton/RadioButton.stories.tsx
  packages/react/src/components/RadioButton/RadioButton.styles.ts
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/RadioButton/index.ts
  packages/react/src/index.ts
Due: react

chore(radio): add tests
  packages/react/src/components/RadioButton/RadioButton.test.tsx
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
Due: react

chore(release): publish v3.1.0-alpha.DSY-1942.1.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(radio): add missing props
  lerna.json
  packages/react/package.json
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.stories.tsx
  packages/react/src/components/Radio/Radio.styles.ts
  packages/react/src/components/Radio/Radio.test.tsx
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Radio/index.ts
  packages/react/src/components/RadioButton/index.ts
  packages/react/src/index.ts
Due: react

chore(release): publish v2.5.1-alpha.DSY-1942.3.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.6.0-alpha.DSY-1942.3.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(radio): add missing props
  lerna.json
  packages/react/package.json
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.stories.tsx
  packages/react/src/components/Radio/Radio.styles.ts
  packages/react/src/components/Radio/Radio.test.tsx
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Radio/index.ts
  packages/react/src/components/RadioButton/RadioButton.props.ts
  packages/react/src/components/RadioButton/index.ts
  packages/react/src/index.ts
Due: react

chore(release): publish v2.6.0-alpha.DSY-1942.5.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

feat(styles): add aesop theme
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/styles/src/themes.ts
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/themes/aesop/typography.ts
  packages/styles/src/tokens/colors/themeBound/aesop/aesop-dark.ts
  packages/styles/src/tokens/colors/themeBound/aesop/aesop-light.ts
  packages/styles/src/tokens/colors/themeBound/aesop/index.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
Due: styles

chore(release): publish v3.1.0-alpha.DSY-2196.1.0 via lerna [skip-ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(styles): add aesop theme
  packages/styles/package.json
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/styles/src/themes.ts
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/themes/aesop/typography.ts
  packages/styles/src/tokens/colors/themeBound/aesop/aesop-dark.ts
  packages/styles/src/tokens/colors/themeBound/aesop/aesop-light.ts
  packages/styles/src/tokens/colors/themeBound/aesop/index.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
Due: styles

chore(release): publish v3.1.0-alpha.DSY-2196.3.0 via lerna [skip-ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v3.1.0-alpha.DSY-2196.4.0 via lerna [skip-ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(styles): add aesop theme
  lerna.json
  packages/styles/package.json
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/styles/src/themes.ts
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/themes/aesop/typography.ts
  packages/styles/src/tokens/colors/themeBound/aesop/aesop-dark.ts
  packages/styles/src/tokens/colors/themeBound/aesop/aesop-light.ts
  packages/styles/src/tokens/colors/themeBound/aesop/index.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(release): publish v1.6.0-alpha.DSY-2196.8.0 via lerna [skip-ci]
  lerna.json
  packages/styles/package.json
Due: styles

feat(theme): add aesop (#1477)
  lerna.json
  packages/styles/package.json
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/styles/src/themes.ts
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/themes/aesop/typography.ts
  packages/styles/src/tokens/colors/themeBound/aesop/aesop-dark.ts
  packages/styles/src/tokens/colors/themeBound/aesop/aesop-light.ts
  packages/styles/src/tokens/colors/themeBound/aesop/index.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(release): publish v1.6.0 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: styles

chore(release): publish v1.6.0 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  yarn.lock
Due: styles

chore(deps): update jest dependencies
  package.json
  yarn.lock
Due: none

feat(natds-web): add aesop theme
  packages/web/.storybook/decorators/ThemeProviderDecorator/index.js
  packages/web/.storybook/globalTypes/index.ts
  packages/web/package.json
  packages/web/src/Themes/ThemeBrandName.ts
  yarn.lock
Due: web

chore(release): publish v3.1.0-alpha.DSY-2196.6.0 via lerna [skip-ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: update lerna.json
  lerna.json
Due: none

chore: fix natds-styles version
  packages/styles/package.json
Due: styles
