Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

Update CHANGELOG.md
  packages/react/CHANGELOG.md
Due: react

feat(natds-react): added Avon-V3 affects: @naturacosmeticos/natds-react DSY-5577
  packages/react/.storybook/globalTypes/index.js
  packages/react/package.json
  packages/react/src/components/GayaButton/GayaButton.stories.tsx
  packages/react/src/components/GayaButton/GayaButton.tsx
  yarn.lock
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

fix(natds-react): fixed Avon-V3 counter select textField affects: @naturacosmeticos/natds-react DSY-5577
  packages/react/package.json
  packages/react/src/components/Snackbar/Snackbar.styles.ts
  yarn.lock
Due: react

test(natds-react): update snapshot affects: @naturacosmeticos/natds-react DSY-5577
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/components/Badge/__snapshots__/Badge.test.tsx.snap
  packages/react/src/components/Shortcut/__snapshots__/Shortcut.test.tsx.snap
  packages/react/src/components/Tag/__snapshots__/Tag.test.tsx.snap
Due: react

fix(natds-react): tag color onSucces affects: @naturacosmeticos/natds-react DSY-5577
  packages/react/package.json
  packages/react/src/components/GayaButton/GayaButton.tsx
  yarn.lock
Due: react

fix(natds-react): textTransform Avon-V3 affects: @naturacosmeticos/natds-react DSY-5577
  packages/react/.storybook/preview-head.html
  packages/react/package.json
  packages/react/src/components/GayaButton/GayaButton.stories.tsx
  packages/react/src/components/GayaButton/GayaButton.tsx
Due: react

fix(natds-react): update theme to 0.83.5 affects: @naturacosmeticos/natds-react DSY-5577
  yarn.lock
Due: none

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

feat(natds-styles): add theme Avon-V3 affects: @naturacosmeticos/natds-styles DSY-5581
  packages/styles/package.json
  packages/styles/src/themes/avon_v3/avon_v3-dark.ts
  packages/styles/src/themes/avon_v3/avon_v3-light.ts
  packages/styles/src/themes/avon_v3/typography.ts
  packages/styles/src/tokens/colors/themeBound/avon_v3/avon_v3-dark.ts
  packages/styles/src/tokens/colors/themeBound/avon_v3/avon_v3-light.ts
  packages/styles/src/tokens/colors/themeBound/avon_v3/index.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
  packages/styles/tsconfig.json
  yarn.lock
Due: styles

chore(natds-web): update storybook select theme Avon-V3 affects: @naturacosmeticos/natds-web DSY-5581
  packages/web/.storybook/decorators/ThemeProviderDecorator/index.js
  packages/web/.storybook/globalTypes/index.ts
  packages/web/.storybook/tsconfig.json
  packages/web/tsconfig.json
Due: web

test(natds-styles): update snapshots affects: @naturacosmeticos/natds-styles DSY-5581
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/biome/__snapshots__/biome.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
Due: styles

test(natds-web): update snapshots testThemes affects: @naturacosmeticos/natds-web DSY-5581
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: web

chore(natds-styles): remove error tsconfig affects: @naturacosmeticos/natds-styles DSY-5581
  packages/styles/tsconfig.json
Due: styles

chore(natds-web): remove error tsconfig affects: @naturacosmeticos/natds-web DSY-5581
  packages/web/.storybook/tsconfig.json
  packages/web/tsconfig.json
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

fix(natds-styles): fixed import theme Avon-V3 affects: @naturacosmeticos/natds-styles DSY-5581
  packages/styles/src/themes.ts
  packages/styles/src/themes/avon_v3/avon_v3-dark.ts
Due: styles

fix(natds-web): fixed insert type Avon-V3 affects: @naturacosmeticos/natds-web DSY-5581
  packages/web/src/Themes/ThemeBrandName.ts
Due: web

Update CHANGELOG.md
  packages/web/CHANGELOG.md
Due: web

feat(natds-react): added 6 new icons and update theme affects: @naturacosmeticos/natds-react DSY-5778
  packages/react/.storybook/preview-head.html
  packages/react/package.json
  packages/react/src/components/GayaButton/GayaButton.tsx
  yarn.lock
Due: react

fix(natds-react): disable react/button-has-type affects: @naturacosmeticos/natds-react DSY-5778
  packages/react/src/components/GayaButton/GayaButton.tsx
Due: react

fix(natds-react): color secondaryDark and secondaryDarkest affects: @naturacosmeticos/natds-react DSY-5778
  packages/react/package.json
  packages/react/src/components/GayaButton/GayaButton.styles.ts
  yarn.lock
Due: react

fix(natds-styles): colors in Avon-V3 affects: @naturacosmeticos/natds-styles DSY-5778
  packages/styles/package.json
  yarn.lock
Due: styles

test(natds-styles): update snapshot affects: @naturacosmeticos/natds-styles DSY-5778
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
Due: styles

fix(natds-react): rollback secondaryDark and secondaryDarkest affects: @naturacosmeticos/natds-react DSY-5778
  packages/react/package.json
  packages/react/src/components/GayaButton/GayaButton.stories.tsx
  packages/react/src/components/GayaButton/GayaButton.styles.ts
  yarn.lock
Due: react

fix(natds-react): fixed stories deprecated Button affects: @naturacosmeticos/natds-react DSY-5778
  packages/react/src/components/Button/Button.stories.tsx
Due: react

fix(natds-styles): update lib theme affects: @naturacosmeticos/natds-styles DSY-5857
  packages/styles/package.json
  packages/styles/src/tokens/colors/themeBound/avon_v3/avon_v3-light.ts
  yarn.lock
Due: styles

test(natds-styles): update snapshot affects: @naturacosmeticos/natds-styles DSY-5857
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
Due: styles

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
