Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): pin dependencies
  package.json
  packages/react/package.json
  packages/web/package.json
  packages/web/src/Components/Container/package.json
  yarn.lock
Due: react, web

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @naturacosmeticos/eslint-config-natds to v0.0.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typescript to v4.5.5
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.10.2
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

feat(natds-react): adding avatar component
  packages/react/src/components/Avatar/Avatar.props.ts
  packages/react/src/components/Avatar/Avatar.stories.tsx
  packages/react/src/components/Avatar/Avatar.styles.ts
  packages/react/src/components/Avatar/Avatar.test.tsx
  packages/react/src/components/Avatar/Avatar.tsx
  packages/react/src/components/Avatar/AvatarIcon.tsx
  packages/react/src/components/Avatar/AvatarImage.tsx
  packages/react/src/components/Avatar/AvatarLabel.tsx
  packages/react/src/components/Avatar/index.ts
  packages/react/src/index.ts
Due: react

fix(natds-web): remover border radius and apply correct color to Aesop Button
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
Due: styles

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

fix: update natds-themes dependencie
  packages/react/package.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  yarn.lock
Due: styles, react

chore(deps): update storybook monorepo to v6.4.15
  package.json
  yarn.lock
Due: none

fix: updates natds-themes
  packages/react/package.json
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/biome/__snapshots__/biome.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  yarn.lock
Due: styles, react, web

fix(natds-web): update
  packages/web/src/Components/CardActionArea/CardActionArea.tsx
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.24.3
  packages/react/package.json
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/biome/__snapshots__/biome.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  yarn.lock
Due: styles, react, web

fix(natds-web): update Aesop button styles
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
Due: styles

fix(path): Fixed import path for Field/SearchClear Component
  packages/web/src/Components/TextField/TextField.props.ts
Due: web

fix(path): Fixed import path for Input/Input.props Component
  packages/web/src/Components/Select/Select.props.ts
Due: web

fix(natds-web): Fix import path for Select and TextField Component (#1646)
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/TextField/TextField.props.ts
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(natds-react): add avatar variants
  packages/react/src/components/Avatar/Avatar.styles.ts
  packages/react/src/components/Avatar/Avatar.tsx
  packages/react/src/components/Avatar/AvatarIcon.tsx
  packages/react/src/components/Avatar/AvatarImage.tsx
  packages/react/src/components/Avatar/AvatarLabel.tsx
Due: react

docs(natds-react): improving avatar documentation
  packages/react/src/components/Avatar/Avatar.props.ts
  packages/react/src/components/Avatar/Avatar.stories.tsx
Due: react

test(natds-react): ensure that all avatar variants to be rendered correctly
  packages/react/src/components/Avatar/Avatar.test.tsx
  packages/react/src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(natds-react): improve methods
  packages/react/src/components/Avatar/Avatar.props.ts
  packages/react/src/components/Avatar/Avatar.stories.tsx
  packages/react/src/components/Avatar/Avatar.styles.ts
  packages/react/src/components/Avatar/Avatar.test.tsx
  packages/react/src/components/Avatar/Avatar.tsx
  packages/react/src/components/Avatar/AvatarIcon.tsx
  packages/react/src/components/Avatar/AvatarImage.tsx
  packages/react/src/components/Avatar/AvatarLabel.tsx
  packages/react/src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
Due: react

chore: improve testing
  packages/react/src/components/Avatar/Avatar.test.tsx
  packages/react/src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
Due: react

chore(natds-react): fix icon size
  packages/react/src/components/Avatar/Avatar.props.ts
  packages/react/src/components/Avatar/Avatar.test.tsx
  packages/react/src/components/Avatar/AvatarIcon.tsx
  packages/react/src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
Due: react

chore(natds-react): improve testing coverage
  packages/react/src/components/Avatar/Avatar.test.tsx
  packages/react/src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
Due: react

chore(natds-react): add onError props
  packages/react/src/components/Avatar/Avatar.props.ts
  packages/react/src/components/Avatar/Avatar.test.tsx
  packages/react/src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
