Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, react, web

chore(deps): pin dependencies
  package.json
  packages/react/package.json
  packages/web/package.json
  packages/web/src/Components/Container/package.json
  yarn.lock
Due: react, web

chore(deps): update storybook monorepo to v6.3.8
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.6.0
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.9.0
  packages/styles/package.json
  yarn.lock
Due: styles

chore(deps): update rollup dependencies
  package.json
  yarn.lock
Due: none

chore: update mock-theme for testing
  packages/react/package.json
  packages/react/src/ThemeProvider/mock-theme.json
Due: react

chore: update snapshot testing
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/tokens/fontSize/index.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore: update natds-themes
  packages/react/package.json
  packages/react/src/ThemeProvider/mock-theme.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  yarn.lock
Due: styles, react, web

chore(deps): update jest dependencies
  package.json
  yarn.lock
Due: none

feat(typography): add new typography
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/themes/aesop/typography.ts
  packages/styles/src/themes/avon/typography.ts
  packages/styles/src/themes/natura/typography.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/styles/src/themes/theBodyShop/typography.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(typography): add new typography
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/index.ts
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/themes/aesop/typography.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/avon/typography.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/natura/typography.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/styles/src/themes/theBodyShop/typography.ts
  packages/styles/src/tokens.ts
  packages/styles/src/tokens/typography/IFont.ts
  packages/styles/src/tokens/typography/ITypography.ts
  packages/styles/src/tokens/typography/index.ts
  packages/web/src/Themes/IThemeWeb.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(typography): add custom fonts stories
  packages/react/.storybook/manager-head.html
  packages/react/.storybook/preview-head.html
  packages/react/src/components/Typography/Typography.stories.tsx
  packages/web/.storybook/manager-head.html
  packages/web/.storybook/preview-head.html
  packages/web/src/Components/Typography/Typography.stories.tsx
Due: react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, react, web

chore(typography): change fontFamily to be body regular
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/aesop/typography.ts
  packages/styles/src/themes/avon/typography.ts
  packages/styles/src/themes/natura/typography.ts
  packages/styles/src/themes/theBodyShop/typography.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, react, web

chore: add buildTheme
  packages/web/src/Provider/buildTheme.ts
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

chore: add buildTheme
  packages/web/src/Provider/buildTheme.ts
  packages/web/src/Provider/index.ts
  packages/web/src/index.ts
Due: web

chore: add buildTheme
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/themes/aesop/typography.ts
  packages/styles/src/themes/avon/typography.ts
  packages/styles/src/themes/natura/typography.ts
  packages/styles/src/themes/theBodyShop/typography.ts
  packages/web/.storybook/decorators/ThemeProviderDecorator/index.js
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Provider/buildTheme.test.ts
  packages/web/src/Provider/buildTheme.ts
  packages/web/src/Provider/index.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  packages/web/src/index.ts
Due: styles, web

chore: add buildTheme
  packages/react/.storybook/manager-head.html
  packages/react/.storybook/preview-head.html
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/themes/aesop/typography.ts
  packages/styles/src/themes/avon/typography.ts
  packages/styles/src/themes/natura/typography.ts
  packages/styles/src/themes/theBodyShop/typography.ts
  packages/web/.storybook/decorators/ThemeProviderDecorator/index.js
  packages/web/.storybook/manager-head.html
  packages/web/.storybook/preview-head.html
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Provider/buildTheme.test.ts
  packages/web/src/Provider/buildTheme.ts
  packages/web/src/Provider/index.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  packages/web/src/index.ts
Due: styles, react, web

chore: add buildTheme
  packages/react/.storybook/manager-head.html
  packages/react/.storybook/preview-head.html
  packages/react/.storybook/preview.js
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/themes/aesop/typography.ts
  packages/styles/src/themes/avon/typography.ts
  packages/styles/src/themes/natura/typography.ts
  packages/styles/src/themes/theBodyShop/typography.ts
  packages/web/.storybook/decorators/ThemeProviderDecorator/index.js
  packages/web/.storybook/globalTypes/index.ts
  packages/web/.storybook/manager-head.html
  packages/web/.storybook/preview-head.html
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Provider/buildTheme.test.ts
  packages/web/src/Provider/buildTheme.ts
  packages/web/src/Provider/index.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  packages/web/src/index.ts
Due: styles, react, web
