Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore(release): publish v1.9.0-alpha.DSY-1963.3.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(text field): add tests for helper functions
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
Due: react

chore(release): publish v1.9.0-alpha.DSY-1963.5.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore: update typo-ci excluded words
  .typo-ci.yml
Due: none

chore(release): publish v1.9.0-alpha.DSY-1963.7.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency @types/jest to v26.0.23
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.4
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update dependency react to v17
  packages/web/src/Components/Container/package.json
Due: web

chore(release): publish v1.8.3-alpha.DSY-1963.3.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(textfield): add feedback stories
  packages/react/src/components/TextField/TextField.stories.tsx
Due: react

chore(textfield): add size prop
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(textfield): add feedback prop
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

feat(textfield): add new component
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/index.ts
Due: react

chore(text field): add disabled style
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(text field): update feedback attribute styles
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(text field): fix input base styles
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
Due: react

chore(text field): add onChange and value as props
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(textfield): add asterisk when required
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(release): publish v1.9.0-alpha.DSY-1963.11.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency eslint to v7.25.0
  package.json
  yarn.lock
Due: none

chore(release): publish v1.9.0-alpha.DSY-1963.13.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency eslint-plugin-jest to v24.3.6
  package.json
  yarn.lock
Due: none

chore(deps): update dependency ts-loader to v8.2.0
  package.json
  yarn.lock
Due: none

chore(deps): update jest dependencies
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update storybook monorepo to v6.2.9
  package.json
  packages/web/package.json
  yarn.lock
Due: web

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.5.0
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web
