Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore(radio): add missing props
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.tsx
Due: react

chore(release): publish v2.7.0-alpha.DSY-1942.24.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore: add LabelText attribute
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.stories.tsx
  packages/react/src/components/Radio/Radio.styles.ts
  packages/react/src/components/Radio/Radio.test.tsx
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/_helpers/Label/Label.test.tsx
  packages/react/src/components/_helpers/Label/Label.tsx
  packages/react/src/components/_helpers/Label/__snapshots__/Label.test.tsx.snap
  packages/react/src/components/_helpers/Label/index.ts
Due: react

chore(release): publish v2.7.0-alpha.DSY-1942.26.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(release): publish v2.7.0-alpha.DSY-1942.33.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(radio): fix border color
  packages/react/src/components/Radio/Radio.styles.ts
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
Due: react

chore(release): publish %s via lerna [skip-ci]
  packages/react/package.json
Due: react

chore: update lerna message
  lerna.json
  package.json
Due: none

feat(radio): add new component (#1476)
  lerna.json
  package.json
  packages/react/package.json
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.stories.tsx
  packages/react/src/components/Radio/Radio.styles.ts
  packages/react/src/components/Radio/Radio.test.tsx
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Radio/index.ts
  packages/react/src/components/_helpers/Label/Label.test.tsx
  packages/react/src/components/_helpers/Label/Label.tsx
  packages/react/src/components/_helpers/Label/__snapshots__/Label.test.tsx.snap
  packages/react/src/components/_helpers/Label/index.ts
  packages/react/src/index.ts
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

feat(natds-styles): include assets
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(natds-styles): bump natds-themes
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Themes/IThemeWeb.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  yarn.lock
Due: styles, web

feat: add new component
  packages/web/jest.config.js
  packages/web/src/Components/Logo/Logo.props.ts
  packages/web/src/Components/Logo/Logo.stories.tsx
  packages/web/src/Components/Logo/Logo.styles.ts
  packages/web/src/Components/Logo/Logo.test.tsx
  packages/web/src/Components/Logo/Logo.tsx
  packages/web/src/Components/Logo/index.ts
  packages/web/src/Themes/IThemeWeb.ts
  packages/web/src/index.ts
Due: web

chore: bumb natds-themes
  packages/react/package.json
  packages/react/src/ThemeProvider/mock-theme.json
  packages/react/src/components/Logo/Logo.tsx
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
  packages/styles/package.json
  packages/web/src/Components/Logo/Logo.test.tsx
  yarn.lock
Due: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
  packages/web/package.json
Due: react, web

chore: add tests
  packages/web/jest.config.js
  packages/web/src/Components/Logo/Logo.props.ts
  packages/web/src/Components/Logo/Logo.stories.tsx
  packages/web/src/Components/Logo/Logo.styles.ts
  packages/web/src/Components/Logo/Logo.test.tsx
  packages/web/src/Components/Logo/Logo.tsx
  packages/web/src/Components/Logo/__snapshots__/Logo.test.tsx.snap
  packages/web/src/Components/Logo/index.ts
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

chore: solve lint warnings
  .eslintrc.js
  packages/react/package.json
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/react/src/hooks/useWindowSize.ts
  yarn.lock
Due: react

chore: fix typo
  packages/react/package.json
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.tsx
  packages/web/src/Components/Logo/Logo.props.ts
  packages/web/src/Components/Logo/Logo.tsx
  yarn.lock
Due: react, web

feat(list item): add new component
  packages/react/src/components/Divider/Divider.props.ts
  packages/react/src/components/ListItem/ListItem.props.ts
  packages/react/src/components/ListItem/ListItem.stories.tsx
  packages/react/src/components/ListItem/ListItem.styles.ts
  packages/react/src/components/ListItem/ListItem.test.tsx
  packages/react/src/components/ListItem/ListItem.tsx
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/ListItem/index.ts
  packages/react/src/index.ts
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(list item): add missing attributes
  packages/react/src/components/ListItem/ListItem.props.ts
  packages/react/src/components/ListItem/ListItem.test.tsx
  packages/react/src/components/ListItem/ListItem.tsx
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
Due: react

chore(list item): improve stories
  packages/react/src/components/ListItem/ListItem.stories.tsx
Due: react

chore(list item): fix styles
  packages/react/src/components/ListItem/ListItem.styles.ts
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  yarn.lock
Due: react

feat(logo): add new component (#1492)
  .eslintrc.js
  packages/react/package.json
  packages/react/src/ThemeProvider/mock-theme.json
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/react/src/components/Logo/Logo.tsx
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
  packages/react/src/hooks/useWindowSize.ts
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/jest.config.js
  packages/web/package.json
  packages/web/src/Components/Logo/Logo.props.ts
  packages/web/src/Components/Logo/Logo.stories.tsx
  packages/web/src/Components/Logo/Logo.styles.ts
  packages/web/src/Components/Logo/Logo.test.tsx
  packages/web/src/Components/Logo/Logo.tsx
  packages/web/src/Components/Logo/__snapshots__/Logo.test.tsx.snap
  packages/web/src/Components/Logo/index.ts
  packages/web/src/Themes/IThemeWeb.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  packages/web/src/index.ts
  yarn.lock
Due: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, react, web

chore(list item): improve divider prop
  packages/react/src/components/ListItem/ListItem.props.ts
  packages/react/src/components/ListItem/ListItem.tsx
  yarn.lock
Due: react

chore(list item): accept divider as component through SeparatorComponent
  packages/react/src/components/ListItem/ListItem.props.ts
  packages/react/src/components/ListItem/ListItem.stories.tsx
  packages/react/src/components/ListItem/ListItem.test.tsx
  packages/react/src/components/ListItem/ListItem.tsx
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
Due: react

chore(list item): improve docs
  packages/react/src/components/ListItem/ListItem.props.ts
Due: react
