Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(deps): update rollup dependencies
  package.json
  packages/web/package.json
  yarn.lock
Due: web

feat(icon): add new component
  packages/react/package.json
  packages/react/src/components/Icon/Icon.props.ts
  packages/react/src/components/Icon/Icon.stories.tsx
  packages/react/src/components/Icon/Icon.styles.ts
  packages/react/src/components/Icon/Icon.test.tsx
  packages/react/src/components/Icon/Icon.tsx
  packages/react/src/components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/react/src/components/Icon/index.ts
  packages/react/src/index.ts
  yarn.lock
Due: react

chore(release): publish v1.8.0-alpha.DSY-1959.2.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(icon): update natds-icons path
  packages/react/.storybook/preview-head.html
Due: react

chore(icon): add tests for size and color props
  packages/react/src/components/Icon/Icon.test.tsx
  packages/react/src/components/Icon/__snapshots__/Icon.test.tsx.snap
Due: react

chore(icon): remove spread props
  packages/react/src/components/Icon/Icon.tsx
Due: react

chore(icon): improve component status
  packages/react/src/components/Icon/Icon.stories.tsx
Due: react

chore(release): publish v1.8.0-alpha.DSY-1959.4.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(icon): add accessibility props
  packages/react/src/components/Icon/Icon.props.ts
  packages/react/src/components/Icon/Icon.tsx
  packages/react/src/components/Icon/__snapshots__/Icon.test.tsx.snap
Due: react

chore(release): publish v1.8.0-alpha.DSY-1959.7.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v4.22.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency concurrently to v6.0.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.45.2
  package.json
  yarn.lock
Due: none

chore: update typo-ci list
  .typo-ci.yml
Due: none

chore(release): publish v1.8.0-alpha.DSY-1959.11.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v1.8.0-alpha.DSY-1959.14.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(icon): pass natds-icons-[name] as class
  packages/react/src/components/Icon/Icon.styles.ts
  packages/react/src/components/Icon/Icon.tsx
  packages/react/src/components/Icon/__snapshots__/Icon.test.tsx.snap
Due: react

chore(release): publish v1.8.0-alpha.DSY-1959.16.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

feat(icon): add new component (#1338)
  .typo-ci.yml
  lerna.json
  packages/react/.storybook/preview-head.html
  packages/react/package.json
  packages/react/src/components/Icon/Icon.props.ts
  packages/react/src/components/Icon/Icon.stories.tsx
  packages/react/src/components/Icon/Icon.styles.ts
  packages/react/src/components/Icon/Icon.test.tsx
  packages/react/src/components/Icon/Icon.tsx
  packages/react/src/components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/react/src/components/Icon/index.ts
  packages/react/src/index.ts
  yarn.lock
Due: react

chore(release): publish v1.8.0 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): update storybook monorepo to v6.2.8
  package.json
  packages/web/package.json
  yarn.lock
Due: web

feature(button): add showIcon attribute
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/Button.tsx
Due: react

test(button): add tests for button with icon
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
Due: react

chore(button): add new stories
  packages/react/src/components/Button/Button.stories.tsx
Due: react

chore(release): publish v1.8.1-alpha.DSY-2052.1.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency @babel/core to v7.13.16
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @testing-library/user-event to v13.1.5
  package.json
  packages/web/package.json
  yarn.lock
Due: web

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.4.0
  packages/react/package.json
  yarn.lock
Due: react

chore: add .vscode to gitignore
  .gitignore
Due: none

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
