Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

fix(natds-styles): change subtitle1 fontFamily for aesop
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
Due: styles

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

fix(natds-styles): change subtitle1 fontFamily for aesop
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/tokens/colors/themeBound/aesop/aesop-light.ts
  yarn.lock
Due: styles

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore: update yarn.lock
  packages/styles/src/themes/aesop/aesop-light.ts
  yarn.lock
Due: styles

fix(deps): update material-ui monorepo
  packages/web/package.json
  yarn.lock
Due: web

chore(natds-web): update createMuiTheme import
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Chip/__snapshots__/Chip.test.tsx.snap
  packages/web/src/Components/DrawerHeader/__snapshots__/DrawerHeader.test.tsx.snap
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
  packages/web/src/Components/ExpansionPanel/__snapshots__/ExpansionPanel.test.tsx.snap
  packages/web/src/Components/List/__snapshots__/List.test.tsx.snap
  packages/web/src/Provider/Provider.tsx
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react to v17.0.34
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update dependency @types/react-dom to v17.0.11
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update storybook monorepo to v6.3.12
  package.json
  yarn.lock
Due: none

fix(natds-web): exports DrawerMenu subcomponents
  packages/web/src/index.ts
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

fix(natds-web): exports DrawerMenu subcomponents
  packages/web/src/Components/DrawerMenu/index.ts
  packages/web/src/index.ts
Due: web

chore(deps): update jest dependencies
  package.json
  yarn.lock
Due: none

fix(natds-web): exports DrawerMenu subcomponents
  packages/web/src/Components/DrawerMenu/DrawerMenu.stories.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.tsx
  packages/web/src/Components/DrawerMenu/index.ts
  packages/web/src/index.ts
Due: web

chore(deps): update dependency husky to v7.0.4
  package.json
  yarn.lock
Due: none

chore(deps): update commitlint monorepo to v14
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.17.0
  packages/react/package.json
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/biome/__snapshots__/biome.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  yarn.lock
Due: styles, react, web

chore(deps): update dependency rollup to v2.60.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.8.0
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update dependency concurrently to v6.4.0
  package.json
  yarn.lock
Due: none

chore(deps): update rollup dependencies
  package.json
  yarn.lock
Due: none

chore(deps): update dependency chromatic to v6
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency eslint to v8
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint-plugin-jest to v25
  package.json
  yarn.lock
Due: none

chore(deps): update dependency puppeteer to v11
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.35
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: none
