Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore: export useTheme from react-jss
  packages/react/.storybook/manager-head.html
  packages/react/.storybook/manager.js
  packages/react/src/helpers/renderWithTheme.tsx
  packages/react/src/index.ts
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

refactor(natds-themes): improve theme setup (#1544)
  packages/react/.storybook/decorators/themeDecorator.js
  packages/react/.storybook/manager-head.html
  packages/react/.storybook/manager.js
  packages/react/package.json
  packages/react/src/ThemeProvider/ThemeProvider.props.ts
  packages/react/src/ThemeProvider/ThemeProvider.tsx
  packages/react/src/ThemeProvider/buildTheme.ts
  packages/react/src/ThemeProvider/index.ts
  packages/react/src/helpers/renderWithTheme.tsx
  packages/react/src/index.ts
  packages/react/tsconfig.json
Due: react

docs(natds-react): update README
  packages/react/.storybook/main.js
  packages/react/README.md
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
Due: react

fix(natds-react): export label as component
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Counter/Counter.tsx
  packages/react/src/components/Label/Label.tsx
  packages/react/src/components/Label/index.ts
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/_subcomponents/Label/index.ts
  packages/react/src/index.ts
Due: react

chore(natds-react): improve readme
  packages/react/README.md
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): update dependency @rollup/plugin-commonjs to v21
  package.json
  yarn.lock
Due: none

fix(natds-react): resolve textField dependecy cycle
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Input/InputHelperText/InputHelperText.styles.ts
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.styles.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.7.0
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.15.4
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore(deps): update dependency @commitlint/cli to v13.2.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency chromatic to v5.10.2
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @testing-library/user-event to v13.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency concurrently to v6.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.58.0
  package.json
  yarn.lock
Due: none

docs(natds-react): update README (#1543)
  packages/react/.storybook/main.js
  packages/react/README.md
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
  packages/react/package.json
Due: react

chore(deps): update dependency eslint-plugin-jest to v24.7.0
  package.json
  yarn.lock
Due: none

feat(natds-styles): add biome theme
  packages/react/package.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/themes/aesop/aesop.test.ts
  packages/styles/src/__tests__/themes/biome/__snapshots__/biome.test.ts.snap
  packages/styles/src/__tests__/themes/biome/biome.test.ts
  packages/styles/src/__tests__/themes/bodyShop/theBodyShop.test.ts
  packages/styles/src/__tests__/themes/natura/natura.test.ts
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/styles/src/themes.ts
  packages/styles/src/themes/biome/biome-dark.ts
  packages/styles/src/themes/biome/biome-light.ts
  packages/styles/src/themes/biome/typography.ts
  packages/styles/src/tokens/colors/themeBound/biome/biome-dark.ts
  packages/styles/src/tokens/colors/themeBound/biome/biome-light.ts
  packages/styles/src/tokens/colors/themeBound/biome/index.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
  packages/web/src/Themes/ThemeBrandName.ts
  yarn.lock
Due: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(natds-styles): add biome theme
  packages/react/package.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/themes/aesop/aesop.test.ts
  packages/styles/src/__tests__/themes/biome/__snapshots__/biome.test.ts.snap
  packages/styles/src/__tests__/themes/biome/biome.test.ts
  packages/styles/src/__tests__/themes/bodyShop/theBodyShop.test.ts
  packages/styles/src/__tests__/themes/natura/natura.test.ts
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/styles/src/themes.ts
  packages/styles/src/themes/biome/biome-dark.ts
  packages/styles/src/themes/biome/biome-light.ts
  packages/styles/src/themes/biome/typography.ts
  packages/styles/src/tokens/colors/themeBound/biome/biome-dark.ts
  packages/styles/src/tokens/colors/themeBound/biome/biome-light.ts
  packages/styles/src/tokens/colors/themeBound/biome/index.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
  packages/web/.storybook/decorators/ThemeProviderDecorator/index.js
  packages/web/.storybook/globalTypes/index.ts
  packages/web/src/Themes/ThemeBrandName.ts
  yarn.lock
Due: styles, react, web

feat: add biome theme (#1555)
  packages/react/package.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/themes/aesop/aesop.test.ts
  packages/styles/src/__tests__/themes/biome/__snapshots__/biome.test.ts.snap
  packages/styles/src/__tests__/themes/biome/biome.test.ts
  packages/styles/src/__tests__/themes/bodyShop/theBodyShop.test.ts
  packages/styles/src/__tests__/themes/natura/natura.test.ts
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/styles/src/themes.ts
  packages/styles/src/themes/biome/biome-dark.ts
  packages/styles/src/themes/biome/biome-light.ts
  packages/styles/src/themes/biome/typography.ts
  packages/styles/src/tokens/colors/themeBound/biome/biome-dark.ts
  packages/styles/src/tokens/colors/themeBound/biome/biome-light.ts
  packages/styles/src/tokens/colors/themeBound/biome/index.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
  packages/web/.storybook/decorators/ThemeProviderDecorator/index.js
  packages/web/.storybook/globalTypes/index.ts
  packages/web/package.json
  packages/web/src/Themes/ThemeBrandName.ts
  yarn.lock
Due: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

fix(natds-styles): update Aesop surface color
  packages/react/package.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  yarn.lock
Due: styles, react

fix: update Aesop surface color
  packages/react/package.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  yarn.lock
Due: styles, react

feat: update Aesop surface color (#1556)
  packages/react/package.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  yarn.lock
Due: styles, react

fix(natds-web): change path from createStyles
  packages/web/src/index.ts
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

fix(natds-styles): change subtitle1 fontFamily for aesop
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
Due: styles
