Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(deps): update dependency @types/react to v17.0.7
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update dependency @types/react-dom to v17.0.5
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.6.0
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore: update mock-theme for testing
  packages/react/src/ThemeProvider/mock-theme.json
Due: react

chore(release): publish v2.1.1 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): update dependency puppeteer to v9.1.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency commitizen to v4.2.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency codecov to v3.8.2
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(deps): update dependency eslint to v7.27.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency chromatic to v5.8.3
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency rollup to v2.50.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v18.1.0
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency concurrently to v6.2.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.8
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

feat(logo): create new component
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.stories.tsx
  packages/react/src/components/Logo/Logo.styles.ts
  packages/react/src/components/Logo/Logo.tsx
  packages/react/src/components/Logo/index.ts
  packages/react/src/index.ts
Due: react

chore(logo): rename methods to check color and model
  packages/react/src/components/Logo/Logo.tsx
Due: react

chore(logo): add type for Theme
  packages/react/src/components/Logo/Logo.tsx
Due: react

chore: add natura logo to storybook
  packages/react/.storybook/theme.js
  packages/react/package.json
Due: react

chore(logo): get logo from theme
  packages/react/.storybook/theme.js
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.stories.tsx
  packages/react/src/components/Logo/Logo.tsx
Due: react

chore(deps): update typescript-eslint monorepo to v4.25.0
  package.json
  yarn.lock
Due: none

chore(logo): add tests
  packages/react/src/components/Logo/Logo.test.tsx
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
Due: react

chore(deps): update dependency rollup to v2.50.3
  package.json
  yarn.lock
Due: none

chore(release): publish v2.2.0-alpha.DSY-2058.14.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency ts-loader to v8.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update jest dependencies
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency typescript to v4.3.2
  package.json
  yarn.lock
Due: none

chore(logo): update component status
  packages/react/src/components/Logo/Logo.stories.tsx
Due: react

chore(release): publish v2.2.0-alpha.DSY-2058.19.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(logo): fix logo sizes
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.stories.tsx
  packages/react/src/components/Logo/Logo.styles.ts
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
Due: react

chore(logo): add react-svg to inject svg and allow modify color
  packages/react/package.json
  packages/react/src/components/Logo/Logo.stories.tsx
  packages/react/src/components/Logo/Logo.styles.ts
  packages/react/src/components/Logo/Logo.tsx
  yarn.lock
Due: react

chore(logo): update regression tests
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-1-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-10-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-11-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-16-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-17-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-18-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-19-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-2-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-3-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-4-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-5-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-6-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-7-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-8-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-9-snap.png
  packages/react/regression/components.test.ts
Due: react

chore(logo): update test
  packages/react/src/components/Logo/Logo.test.tsx
  packages/react/src/components/Logo/Logo.tsx
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
Due: react

chore(logo): remove react-svg and update natds-themes
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
