Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

fix(select): accept new option type object
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
Due: web

chore(release): publish v3.1.0-alpha.DSY-2195.1.0 via lerna [skip-ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: rollback storybook version to fix theme menu
  package.json
  yarn.lock
Due: none

feat: add aesop theme (#1478)
  lerna.json
  package.json
  packages/web/.storybook/decorators/ThemeProviderDecorator/index.js
  packages/web/.storybook/globalTypes/index.ts
  packages/web/package.json
  packages/web/src/Themes/ThemeBrandName.ts
  yarn.lock
Due: web

chore(release): publish %s via lerna [skip-ci]
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): pin dependencies
  package.json
  packages/react/package.json
  packages/web/package.json
  packages/web/src/Components/Container/package.json
  yarn.lock
Due: react, web

chore(deps): update jest dependencies
  package.json
  yarn.lock
Due: none

chore(dialog): add a11y attributes
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
Due: react

feat(dialog): add new component
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogBody/index.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.props.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogFooter/index.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/DialogHeader/index.ts
  packages/react/src/components/Dialog/index.ts
  packages/react/src/index.ts
Due: react

chore(dialog): fix position
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): refactor DialogBody
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): add a11y attributes
  .watchmanconfig
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.31.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(dialog): improve documentation
  packages/react/src/components/Dialog/Dialog.props.ts
Due: react

chore(dialog): add size prop
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): fix position
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.35.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(dialog): get screen width via js
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.tsx
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.37.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(dialog): refactor subcomponents styles
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.39.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(dialog): fix export
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Dialog/index.ts
  packages/react/src/index.ts
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.46.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(dialog): fix size of dialog when screen is smaller
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.59.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore: fix footer
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.61.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore: improve Dialog tests
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/hooks/useWindowSize.test.ts
Due: react

chore: create useWindowSize hooks
  .eslintrc.js
  package.json
  packages/react/package.json
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/hooks/useWindowSize.test.ts
  packages/react/src/hooks/useWindowSize.ts
  yarn.lock
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.66.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(portal): add tests
  packages/react/src/components/Portal/Portal.test.tsx
  packages/react/src/components/Portal/Portal.tsx
  packages/react/src/components/Portal/__snapshots__/Portal.test.tsx.snap
Due: react

chore: create portal
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Portal/Portal.tsx
  packages/react/src/components/Portal/__mocks__/Portal.tsx
  packages/react/src/components/Portal/index.ts
Due: react

chore(dialog): add onEscapeKeyDown prop
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v3.0.1-alpha.DSY-2008.71.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore: update typo-ci
  .typo-ci.yml
  packages/react/package.json
  yarn.lock
Due: react

chore(release): publish %s via lerna [skip-ci]
  packages/react/package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, react, web

chore: chnage Portal to receive a function instead an id
  packages/react/package.json
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Dialog/index.ts
  packages/react/src/components/Portal/Portal.test.tsx
  packages/react/src/components/Portal/Portal.tsx
  packages/react/src/components/Portal/__snapshots__/Portal.test.tsx.snap
  packages/react/src/components/Portal/index.ts
Due: react

chore(release): publish %s via lerna [skip-ci]
  packages/react/package.json
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
