Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(natds-react): improve Avatar storie
  packages/react/src/components/Avatar/Avatar.stories.tsx
Due: react

feat(natds-react): add new Avatar component (#1647)
  packages/react/package.json
  packages/react/src/components/Avatar/Avatar.props.ts
  packages/react/src/components/Avatar/Avatar.stories.tsx
  packages/react/src/components/Avatar/Avatar.styles.ts
  packages/react/src/components/Avatar/Avatar.test.tsx
  packages/react/src/components/Avatar/Avatar.tsx
  packages/react/src/components/Avatar/AvatarIcon.tsx
  packages/react/src/components/Avatar/AvatarImage.tsx
  packages/react/src/components/Avatar/AvatarLabel.tsx
  packages/react/src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/react/src/components/Avatar/index.ts
  packages/react/src/index.ts
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): pin dependencies
  package.json
  packages/react/package.json
  packages/web/package.json
  packages/web/src/Components/Container/package.json
  yarn.lock
Due: react, web

fix(natds-react): remove key prop from ListItem
  packages/react/src/components/ListItem/ListItem.tsx
Due: react

refactor(natds-react): remove mandatory onChange/onFocus/onBlur props in Input component
  packages/react/src/components/Input/Input.props.ts
  packages/react/src/components/Input/Input.test.tsx
Due: react

feat(natds-react): add styles class to Label component
  packages/react/src/components/Label/Label.styles.ts
  packages/react/src/components/Label/Label.tsx
Due: react

test(natds-react): update snapshots for Label component
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

fix(natds-react): remove ListItem warning, make TextField callback props optional, fix Label styles (#1649)
  packages/react/package.json
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Input/Input.props.ts
  packages/react/src/components/Input/Input.test.tsx
  packages/react/src/components/Label/Label.styles.ts
  packages/react/src/components/Label/Label.tsx
  packages/react/src/components/ListItem/ListItem.tsx
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

fix(natds-web): remover border radius and apply correct color to Aesop Button
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
Due: styles

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

fix(natds-web): update
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/web/src/Components/CardActionArea/CardActionArea.tsx
Due: styles, web

fix(natds-web): update Aesop Button styles (#1640)
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/web/package.json
  packages/web/src/Components/CardActionArea/CardActionArea.tsx
Due: styles, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

fix(natds-react): resolves state update issue on an unmounted component
  packages/react/src/components/Ripple/Ripple.tsx
Due: react

fix(natds-react): resolves state update issue on an unmounted component (#1650)
  packages/react/package.json
  packages/react/src/components/Ripple/Ripple.tsx
Due: react

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.26.0
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore(natds-react): automating the creation of component files
  packages/react/generators/plopfile.js
  packages/react/generators/templates/component.tsx.hbs
  packages/react/generators/templates/index.ts.hbs
  packages/react/generators/templates/props.ts.hbs
  packages/react/generators/templates/stories.tsx.hbs
  packages/react/generators/templates/styles.ts.hbs
  packages/react/generators/templates/test.tsx.hbs
  packages/react/package.json
  yarn.lock
Due: react

fix: update themes
  package.json
  packages/react/package.json
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/ThemeProvider/mock-theme.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  yarn.lock
Due: styles, react

Revert "fix(deps): update dependency @naturacosmeticos/natds-themes to v0.27.1 (#1652)"
  package.json
  packages/react/package.json
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/ThemeProvider/mock-theme.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  yarn.lock
Due: styles, react

Renovate/naturacosmeticos natds themes 0.x (#1655)
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.11.0
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.28.1
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore: update tests
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/ThemeProvider/mock-theme.json
Due: react

chore: remove unnecessary dependencies
  package.json
  packages/web/package.json
  yarn.lock
Due: web

fix: button
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Ripple/Ripple.styles.ts
Due: react

feat(natds-react): adds shortcut component
  packages/react/src/components/Shortcut/Shortcut.props.ts
  packages/react/src/components/Shortcut/Shortcut.stories.tsx
  packages/react/src/components/Shortcut/Shortcut.styles.ts
  packages/react/src/components/Shortcut/Shortcut.test.tsx
  packages/react/src/components/Shortcut/Shortcut.tsx
  packages/react/src/components/Shortcut/__snapshots__/Shortcut.test.tsx.snap
  packages/react/src/components/Shortcut/index.ts
  packages/react/src/index.ts
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
