Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

fix(natds-styles): add breakpoints to the theme interface
  packages/web/src/Themes/IThemeWeb.ts
  packages/web/src/Themes/IThemesWeb.ts
  packages/web/src/Themes/parseTheme.ts
  packages/web/src/Themes/themes.ts
Due: web

chore(release): publish v2.5.1-alpha.DSY-2114.1.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v2.0.2-alpha.DSY-2114.6.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

fix(natds-styles): add breakpoints to the theme interface (#1435)
  lerna.json
  packages/web/package.json
  packages/web/src/Themes/IThemeWeb.ts
  packages/web/src/Themes/IThemesWeb.ts
  packages/web/src/Themes/parseTheme.ts
  packages/web/src/Themes/themes.ts
Due: web

chore(release): publish v2.0.2 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

Revert "docs(icons): update instructions to use it (#1431)" (#1433)
  packages/web/docs/icons.md
Due: web

chore(natds-web): change provider theme type
  packages/web/package.json
  packages/web/src/Provider/Provider.props.ts
Due: web

chore(release): publish v2.0.3-alpha.DSY-2114.6.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

fix(natds-styles): add breakpoints to the theme interface (#1436)
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/docs/icons.md
  packages/web/package.json
  packages/web/src/Provider/Provider.props.ts
  packages/web/src/Themes/IThemeWeb.ts
  packages/web/src/Themes/IThemesWeb.ts
  packages/web/src/Themes/parseTheme.ts
  packages/web/src/Themes/themes.ts
Due: web

chore(release): publish v2.0.3 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(natds-styles): add breakpoints to contract
  packages/styles/src/themes/ITheme.ts
Due: styles

chore(release): publish v2.0.4-alpha.DSY-0007.2.0 via lerna [skip-ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(deps): update storybook monorepo to v6.3.1
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency jest-image-snapshot to v4.5.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.52.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency puppeteer to v10.1.0
  package.json
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v4.28.1
  package.json
  yarn.lock
Due: none

fix(icon): change default color to be inherit color
  packages/web/src/Components/Icon/__fixtures__/colors.ts
Due: web

chore: add zIndex from Material to IThemeWeb
  packages/web/src/Themes/IThemeWeb.ts
Due: web

chore(release): publish v2.0.4-alpha.DSY-2116.2.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

fix(text field): add missing props required by mask
  packages/web/src/Components/Field/Field.tsx
Due: web

chore(icons): pass color
  packages/web/package.json
  packages/web/src/Components/Icon/Icon.props.ts
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Icon/__fixtures__/colors.ts
  yarn.lock
Due: web

chore(release): publish v2.0.4-alpha.DSY-2116.4.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(icon): add check to color
  packages/web/src/Components/Icon/Icon.props.ts
  packages/web/src/Components/Icon/Icon.test.tsx
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
Due: web

chore(release): publish v2.0.4-alpha.DSY-2116.6.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(icon): fix typo
  packages/web/src/Components/Icon/Icon.test.tsx
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
Due: web

fix: change default color to be inherit color and pass text-mask props to input component (#1445)
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/Icon/Icon.test.tsx
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  yarn.lock
Due: web

chore(release): publish v2.0.4 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.6.2
  packages/react/package.json
  packages/react/src/ThemeProvider/mock-theme.json
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
  packages/styles/package.json
  yarn.lock
Due: styles, react

feat(dialog): add new component
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogBody/index.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.props.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogFooter/index.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/DialogHeader/index.ts
  packages/react/src/components/Dialog/index.ts
  packages/react/src/index.ts
Due: react

chore(dialog): add a11y attributes
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
Due: react

chore(dialog): add a11y attributes
  .watchmanconfig
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): fix position
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.5.1 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): update dependency @types/react to v17.0.13
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(release): publish v2.6.0-alpha.DSY-2008.18.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
