Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

feat(rating): add new component
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.styles.ts
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/index.ts
  packages/react/src/components/_subcomponents/Label/Label.subcomponent.tsx
  packages/react/src/components/_subcomponents/Rating/Rating.subcomponent.tsx
  packages/react/src/index.ts
Due: react

chore: refactor iconButton to be reused
  packages/react/src/components/IconButton/IconButton.styles.ts
  packages/react/src/components/IconButton/IconButton.tsx
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react/src/components/_subcomponents/IconButton/IconButton.base.tsx
  packages/react/src/components/_subcomponents/IconButton/index.ts
Due: react

chore: fix label props
  packages/react/src/components/IconButton/IconButton.tsx
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.styles.ts
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react/src/components/_subcomponents/IconButton/IconButton.base.tsx
  packages/react/src/components/_subcomponents/Label/Label.test.tsx
  packages/react/src/components/_subcomponents/Rating/Rating.base.test.tsx
  packages/react/src/components/_subcomponents/Rating/Rating.base.tsx
  packages/react/src/components/_subcomponents/Rating/Rating.subcomponent.tsx
  packages/react/src/components/_subcomponents/Rating/__snapshots__/Rating.base.test.tsx.snap
  packages/react/src/components/_subcomponents/Rating/index.ts
Due: react

chore(rating): fix disabled validation
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.tsx
Due: react

chore(rating): lint fix
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/Rating.tsx
Due: react

chore(rating): remove focus style when it is not clickable
  jest.config.base.js
  packages/react/package.json
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Icon/Icon.styles.ts
  packages/react/src/components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/react/src/components/IconButton/IconButton.tsx
  packages/react/src/components/IconButton/IconButtonBase.tsx
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/Input/InputHelperText/__snapshots__/InputHelperText.test.tsx.snap
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/RatingBase.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react/src/components/_subcomponents/IconButton/index.ts
  packages/react/src/components/_subcomponents/Rating/Rating.base.test.tsx
  packages/react/src/components/_subcomponents/Rating/Rating.base.tsx
  packages/react/src/components/_subcomponents/Rating/__snapshots__/Rating.base.test.tsx.snap
  packages/react/src/components/_subcomponents/Rating/index.ts
Due: react

chore: fix type guard on isActive function
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.tsx
Due: react

chore: add tests
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/RatingBase.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore: lint fix
  packages/react/src/components/Rating/Rating.stories.tsx
Due: react

chore: add docs
  packages/react/src/components/Rating/Rating.props.ts
Due: react

chore: add missing hover effect
  packages/react/src/components/Rating/RatingBase.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
Due: react

chore: improve stories
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.stories.tsx
Due: react

chore: remove build:styleguide step
  .cicd/build-storybook.sh
  package.json
  yarn.lock
Due: none

chore: add declaration to tsconfig
  packages/react/tsconfig.json
Due: react

chore: remove styleguide (#1499)
  .cicd/build-storybook.sh
  package.json
  packages/react/package.json
  yarn.lock
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore: fix a11y warnings
  packages/react/src/components/IconButton/IconButton.tsx
  packages/react/src/components/IconButton/IconButtonBase.tsx
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/RatingBase.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

fix(text field): fix label to not override the input when have more than one line
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

fix(text field): remove extra space between label and input field
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/Input/Input.tsx
  packages/web/src/Components/Input/__snapshots__/Input.test.tsx.snap
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

fix(progress indicator): add testID prop
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.props.ts
  packages/web/src/index.ts
Due: web

chore: export IInputStateHelpTextProvider
  packages/web/src/index.ts
Due: web

chore: change some exports
  packages/web/src/Components/Icon/index.ts
  packages/web/src/index.ts
Due: web

chore: improve tests
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
Due: react

chore: improve input variant tests
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
Due: react

chore: add a11y label for group
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.tsx
Due: react

chore: improve navigation keyboard test
  jest.config.base.js
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
Due: react

chore: decrease coverage min value
  jest.config.base.js
Due: none
