Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore(deps): update dependency typescript to v4.4.4
  package.json
  yarn.lock
Due: none

chore(deps): update commitlint monorepo to v15
  package.json
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v4.33.0
  package.json
  yarn.lock
Due: none

chore(deps): pin dependencies
  package.json
  packages/react/package.json
  packages/web/package.json
  packages/web/src/Components/Container/package.json
  yarn.lock
Due: react, web

chore(deps): update jest dependencies
  package.json
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typescript to v4.5.2
  package.json
  yarn.lock
Due: none

chore(natds-web): exports IThemeWeb correctly
  packages/web/src/index.ts
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

chore(natds-web): exports IThemeWeb correctly
  packages/web/src/Provider/Provider.tsx
  packages/web/src/Themes/parseShadows.ts
  packages/web/src/hooks/useDefaultTheme/index.test.ts
  packages/web/src/hooks/useDefaultTheme/index.ts
  packages/web/src/index.ts
Due: web

docs(natds-web): add instructions to use design tokens from theme
  packages/web/.storybook/main.js
  packages/web/docs/design-tokens.md
  packages/web/docs/design-tokens.stories.mdx
Due: web

chore(natds-web): add instructions to use design tokens from theme (#1589)
  packages/web/.storybook/main.js
  packages/web/docs/design-tokens.md
  packages/web/docs/design-tokens.stories.mdx
  packages/web/package.json
  packages/web/src/Provider/Provider.tsx
  packages/web/src/Themes/parseShadows.ts
  packages/web/src/hooks/useDefaultTheme/index.test.ts
  packages/web/src/hooks/useDefaultTheme/index.ts
  packages/web/src/index.ts
Due: web

fix(natds-web): add instructions to use design tokens from theme (#1589)
  packages/web/.storybook/main.js
  packages/web/docs/design-tokens.md
  packages/web/docs/design-tokens.stories.mdx
  packages/web/package.json
  packages/web/src/Provider/Provider.tsx
  packages/web/src/Themes/parseShadows.ts
  packages/web/src/hooks/useDefaultTheme/index.test.ts
  packages/web/src/hooks/useDefaultTheme/index.ts
  packages/web/src/index.ts
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

feat(natds-web): adds size options to set input height
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/Input/Input.props.ts
  packages/web/src/Components/Input/Input.tsx
  packages/web/src/Components/Input/__snapshots__/Input.test.tsx.snap
  packages/web/src/Components/TextField/TextField.argTypes.ts
  packages/web/src/Components/TextField/TextField.props.ts
  packages/web/src/Components/TextField/TextField.stories.tsx
  packages/web/src/Components/TextField/__fixtures__/sizes.ts
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
Due: web

fix(natds-web): exports DrawerMenu subcomponents
  packages/web/src/Components/DrawerMenu/DrawerMenu.stories.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.tsx
  packages/web/src/Components/DrawerMenu/index.ts
  packages/web/src/index.ts
Due: web

fix(natds-web): adds unmountOnExit as prop
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.tsx
Due: web

fix(natds-web): adds onClickLink to DrawerMenuItem props
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.styles.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/__snapshots__/DrawerMenuItem.test.tsx.snap
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/__snapshots__/DrawerMenuSection.test.tsx.snap
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
Due: web

chore(natds-web): changes the way to render the list item when it has a href
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.styles.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.tsx
Due: web

chore(natds-web): adds unmountOnExit to DrawerMenu
  packages/web/src/Components/DrawerMenu/DrawerMenu.props.ts
Due: web

chore(natds-web): add property that inherits style from parent element
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.styles.ts
Due: none

fix(natds-web): fix extra space between label and field in Select component
  packages/web/src/Components/Select/Select.tsx
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
Due: web

fix(natds-web): fix onClickLink type
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
Due: web

feat(natds-web): adds size options to set input height (#1590)
  packages/web/package.json
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/Input/Input.props.ts
  packages/web/src/Components/Input/Input.tsx
  packages/web/src/Components/Input/__snapshots__/Input.test.tsx.snap
  packages/web/src/Components/Select/Select.tsx
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
  packages/web/src/Components/TextField/TextField.argTypes.ts
  packages/web/src/Components/TextField/TextField.props.ts
  packages/web/src/Components/TextField/TextField.stories.tsx
  packages/web/src/Components/TextField/__fixtures__/sizes.ts
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
Due: web
