Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(dialog): add size prop
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): fix position
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): refactor subcomponents styles
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.39.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.37.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(dialog): fix export
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Dialog/index.ts
  packages/react/src/index.ts
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.46.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(dialog): fix size of dialog when screen is smaller
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.48.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.5.2
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update storybook monorepo to v6.3.3
  package.json
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v4.28.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v7.30.0
  package.json
  yarn.lock
Due: none

chore(deps): update storybook monorepo to v6.3.4
  package.json
  yarn.lock
Due: none

chore(deps): pin dependencies
  package.json
  packages/react/package.json
  packages/web/package.json
  packages/web/src/Components/Container/package.json
  yarn.lock
Due: react, web

fix(counter): remove all event clicks
  packages/web/src/Components/Counter/Container.argTypes.ts
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Counter/Counter.stories.tsx
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/Counter.test.tsx
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Counter/constants.ts
Due: web

chore(dialog): add a11y attributes
  .watchmanconfig
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

feat(dialog): add new component
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogBody/index.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.props.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogFooter/index.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/DialogHeader/index.ts
  packages/react/src/components/Dialog/index.ts
  packages/react/src/index.ts
Due: react

chore(dialog): add a11y attributes
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
Due: react

chore(dialog): refactor DialogBody
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): improve documentation
  packages/react/src/components/Dialog/Dialog.props.ts
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.35.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.31.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(dialog): fix position
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): get screen width via js
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.tsx
Due: react

chore(release): publish v3.0.0-alpha.DSY-2151.1.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v2.6.0-alpha.DSY-2008.53.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency @types/react to v17.0.14
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update dependency @types/react-text-mask to v5.4.8
  packages/web/package.json
  yarn.lock
Due: web

chore(text field): remove onChange event
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/TextField/TextField.props.ts
  packages/web/src/Components/TextField/TextField.stories.tsx
Due: web

chore(deps): update dependency @types/jest to v26.0.24
  package.json
  yarn.lock
Due: none

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
