Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore: update README
  packages/web/.storybook/globalTypes/index.ts
  packages/web/README.md
  packages/web/src/Provider/Provider.tsx
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

chore: update README
  packages/web/README.md
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, react, web

chore(deps): update dependency @types/react to v17.0.24
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.12.2
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
  packages/react/package.json
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/ThemeProvider/buildTheme.test.ts
  packages/react/src/ThemeProvider/mock-theme.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  yarn.lock
Due: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

refactor(natds-react): refactor button to get typography, border and color from theme
  .eslintrc.js
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Card/Card.stories.tsx
  packages/react/src/components/Counter/Counter.tsx
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Dialog/Dialog.stories.tsx
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(cicd): fix build-storybook
  .cicd/build-storybook.sh
Due: none

chore(natds-react): update button styles
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/Ripple/__snapshots__/Ripple.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(natds-react): update regression tests
  packages/react/regression/__image_snapshots__/button--disabled-snap.png
  packages/react/regression/__image_snapshots__/button--full-width-snap.png
  packages/react/regression/__image_snapshots__/button--icon-snap.png
  packages/react/regression/__image_snapshots__/button--playground-snap.png
  packages/react/regression/__image_snapshots__/button--sizes-snap.png
  packages/react/regression/__image_snapshots__/button--variants-snap.png
  packages/react/regression/__image_snapshots__/counter--sizes-snap.png
  packages/react/regression/__image_snapshots__/dialog--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/src/components/Button/Button.stories.tsx
Due: react

chore(natds-react): update regression tests
  packages/react/regression/__image_snapshots__/button--disabled-snap.png
  packages/react/regression/__image_snapshots__/button--full-width-snap.png
  packages/react/regression/__image_snapshots__/button--icon-snap.png
  packages/react/regression/__image_snapshots__/button--playground-snap.png
  packages/react/regression/__image_snapshots__/button--sizes-snap.png
  packages/react/regression/__image_snapshots__/button--variants-snap.png
  packages/react/regression/__image_snapshots__/counter--sizes-snap.png
  packages/react/regression/__image_snapshots__/dialog--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/Ripple/__snapshots__/Ripple.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(natds-react): update regression tests
  packages/react/regression/__image_snapshots__/button--disabled-snap.png
  packages/react/regression/__image_snapshots__/button--full-width-snap.png
  packages/react/regression/__image_snapshots__/button--icon-snap.png
  packages/react/regression/__image_snapshots__/button--playground-snap.png
  packages/react/regression/__image_snapshots__/button--sizes-snap.png
  packages/react/regression/__image_snapshots__/button--variants-snap.png
  packages/react/regression/__image_snapshots__/counter--sizes-snap.png
  packages/react/regression/__image_snapshots__/dialog--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/Ripple/__snapshots__/Ripple.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

refactor(natds-react): refactor button to get typography, border and color from theme (#1513)
  .cicd/build-storybook.sh
  .eslintrc.js
  packages/react/package.json
  packages/react/regression/__image_snapshots__/button--disabled-snap.png
  packages/react/regression/__image_snapshots__/button--full-width-snap.png
  packages/react/regression/__image_snapshots__/button--icon-snap.png
  packages/react/regression/__image_snapshots__/button--playground-snap.png
  packages/react/regression/__image_snapshots__/button--sizes-snap.png
  packages/react/regression/__image_snapshots__/button--variants-snap.png
  packages/react/regression/__image_snapshots__/counter--sizes-snap.png
  packages/react/regression/__image_snapshots__/dialog--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Card/Card.stories.tsx
  packages/react/src/components/Counter/Counter.tsx
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Dialog/Dialog.stories.tsx
Due: react

chore: remove unnecessary dependencies
  package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.13.1
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore: update mock-theme
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/ThemeProvider/mock-theme.json
Due: react

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.5
  package.json
  yarn.lock
Due: none

fix(deps): update dependency react-jss to v10.8.0
  packages/react/package.json
  yarn.lock
Due: react

feat(natds-react): add badge component
  packages/react/regression/__image_snapshots__/badge--colors-snap.png
  packages/react/regression/__image_snapshots__/badge--playground-snap.png
  packages/react/regression/__image_snapshots__/badge--variants-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/src/components/Badge/Badge.props.ts
  packages/react/src/components/Badge/Badge.stories.tsx
  packages/react/src/components/Badge/Badge.styles.ts
  packages/react/src/components/Badge/Badge.test.tsx
  packages/react/src/components/Badge/Badge.tsx
  packages/react/src/components/Badge/__snapshots__/Badge.test.tsx.snap
  packages/react/src/components/Badge/index.ts
  packages/react/src/index.ts
Due: react

chore(deps): update jest dependencies
  package.json
  yarn.lock
Due: none

feat(natds-react): add badge component
  packages/react/regression/__image_snapshots__/badge--colors-snap.png
  packages/react/regression/__image_snapshots__/badge--playground-snap.png
  packages/react/regression/__image_snapshots__/badge--variants-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/src/components/Badge/Badge.props.ts
  packages/react/src/components/Badge/Badge.stories.tsx
  packages/react/src/components/Badge/Badge.styles.ts
  packages/react/src/components/Badge/Badge.test.tsx
  packages/react/src/components/Badge/Badge.tsx
  packages/react/src/components/Badge/__snapshots__/Badge.test.tsx.snap
  packages/react/src/components/Badge/index.ts
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/index.ts
Due: react

feat(natds-react): add badge component
  packages/react/regression/__image_snapshots__/badge--colors-snap.png
  packages/react/regression/__image_snapshots__/badge--limit-snap.png
  packages/react/regression/__image_snapshots__/badge--playground-snap.png
  packages/react/regression/__image_snapshots__/badge--variants-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/src/components/Badge/Badge.props.ts
  packages/react/src/components/Badge/Badge.stories.tsx
  packages/react/src/components/Badge/Badge.styles.ts
  packages/react/src/components/Badge/Badge.test.tsx
  packages/react/src/components/Badge/Badge.tsx
  packages/react/src/components/Badge/__snapshots__/Badge.test.tsx.snap
  packages/react/src/components/Badge/index.ts
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/index.ts
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
