Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

feat(dialog): add new component
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogBody/index.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.props.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogFooter/index.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/DialogHeader/index.ts
  packages/react/src/components/Dialog/index.ts
  packages/react/src/index.ts
Due: react

chore(dialog): add a11y attributes
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
Due: react

chore(dialog): fix position
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): add a11y attributes
  .watchmanconfig
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): refactor DialogBody
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.31.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(dialog): fix position
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): improve documentation
  packages/react/src/components/Dialog/Dialog.props.ts
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.33.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(dialog): add size prop
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.35.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

fix(select): remove handle change and extends props
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.stories.tsx
  packages/web/src/Components/Select/Select.tsx
Due: web

chore(release): publish v2.5.2-alpha.DSY-2148.2.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

fix(select): add missing props
  packages/web/src/Components/Select/Select.argTypes.ts
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.stories.tsx
  packages/web/src/Components/Select/Select.tsx
Due: web

chore(release): publish v2.5.2-alpha.DSY-2148.4.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

fix(select): add missing props
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Select/Select.argTypes.ts
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.stories.tsx
  packages/web/src/Components/Select/Select.tsx
Due: web

chore(release): publish v2.0.5-alpha.DSY-2148.6.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

fix(select): fix defaultValue prop
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.tsx
Due: web

docs(select): improve props documentation
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.tsx
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
Due: web

chore(release): publish v2.0.5-alpha.DSY-2148.9.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(dialog): get screen width via js
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.tsx
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.37.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(dialog): refactor subcomponents styles
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.39.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

fix(select): add missing props (#1449)
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Select/Select.argTypes.ts
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.stories.tsx
  packages/web/src/Components/Select/Select.tsx
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
Due: web

chore(deps): pin dependencies
  package.json
  packages/react/package.json
  packages/web/package.json
  packages/web/src/Components/Container/package.json
  yarn.lock
Due: react, web

chore(release): publish v2.0.5 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

fix(counter): remove handleChange and pass directly onChange to component
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Counter/Counter.test.tsx
  packages/web/src/Components/Counter/Counter.tsx
Due: web

chore(release): publish v2.0.6-alpha.DSY-2149.1.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web
