Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore(release): publish v3.0.1-alpha.DSY-2008.71.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(dialog): add onEscapeKeyDown prop
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish %s via lerna [skip-ci]
  packages/web/package.json
Due: web

chore(dialog): improve docs
  lerna.json
  packages/react/src/components/Dialog/Dialog.props.ts
Due: react

chore(dialog): improve documentation
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/hooks/useWindowSize.test.ts
Due: react

chore(dialog): improve stories documentation
  packages/react/src/components/Dialog/Dialog.stories.tsx
Due: react

chore(dialog): add handleOnKeyDown
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore: fix natds-styles version
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: update component status
  packages/react/src/components/Dialog/Dialog.stories.tsx
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.92.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

feat(dialog): add new component (#1444)
  .eslintrc.js
  .typo-ci.yml
  .watchmanconfig
  lerna.json
  package.json
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
  packages/react/package.json
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogBody/index.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.props.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogFooter/index.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/DialogHeader/index.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Dialog/index.ts
  packages/react/src/components/Portal/Portal.test.tsx
  packages/react/src/components/Portal/Portal.tsx
  packages/react/src/components/Portal/__mocks__/Portal.tsx
  packages/react/src/components/Portal/__snapshots__/Portal.test.tsx.snap
  packages/react/src/components/Portal/index.ts
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/hooks/useWindowSize.test.ts
  packages/react/src/hooks/useWindowSize.ts
  packages/react/src/index.ts
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, react, web

chore(release): publish v2.6.0 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(radio): add tests
  packages/react/src/components/RadioButton/RadioButton.test.tsx
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
Due: react

feat(radio): add new component
  packages/react/src/components/RadioButton/RadioButton.props.ts
  packages/react/src/components/RadioButton/RadioButton.stories.tsx
  packages/react/src/components/RadioButton/RadioButton.styles.ts
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/RadioButton/index.ts
  packages/react/src/index.ts
Due: react

chore(radio): add missing props
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.stories.tsx
  packages/react/src/components/Radio/Radio.styles.ts
  packages/react/src/components/Radio/Radio.test.tsx
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Radio/index.ts
  packages/react/src/components/RadioButton/RadioButton.props.ts
  packages/react/src/components/RadioButton/index.ts
  packages/react/src/index.ts
Due: react

chore(radio): improve docs
  packages/react/src/components/Radio/Radio.props.ts
Due: react

chore(radio): add missing props
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.tsx
Due: react

chore(release): publish v2.7.0-alpha.DSY-1942.24.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore: add LabelText attribute
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.stories.tsx
  packages/react/src/components/Radio/Radio.styles.ts
  packages/react/src/components/Radio/Radio.test.tsx
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/_helpers/Label/Label.test.tsx
  packages/react/src/components/_helpers/Label/Label.tsx
  packages/react/src/components/_helpers/Label/__snapshots__/Label.test.tsx.snap
  packages/react/src/components/_helpers/Label/index.ts
Due: react

fix(drawer): change list type
  packages/web/src/Components/DrawerMenu/DrawerMenu.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.props.ts
Due: web

chore: remove todos
  packages/web/src/Components/Button/Button.test.tsx
  packages/web/src/Components/Chip/Chip.test.tsx
  packages/web/src/Components/DrawerHeader/DrawerHeader.test.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenu.test.tsx
  packages/web/src/Components/Field/Field.test.tsx
  packages/web/src/Components/Field/PasswordReveal/PasswordReveal.test.tsx
Due: web

chore: apply correct type
  packages/web/src/Components/DrawerMenu/DrawerMenu.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
Due: web

chore(release): publish v2.7.0-alpha.DSY-1942.26.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v4.0.1-alpha.DSY-1474.13.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

fix(drawer): change the list type (#1486)
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Button/Button.test.tsx
  packages/web/src/Components/Chip/Chip.test.tsx
  packages/web/src/Components/DrawerHeader/DrawerHeader.test.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenu.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenu.test.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.props.ts
  packages/web/src/Components/Field/Field.test.tsx
  packages/web/src/Components/Field/PasswordReveal/PasswordReveal.test.tsx
Due: web

fix: invert import
  packages/web/src/Components/Counter/Counter.tsx
Due: web

chore(release): publish v4.0.1-alpha.DSY-1942.28.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v4.0.1 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(dialog): add eventListener for keydown
  packages/react/src/components/Dialog/Dialog.tsx
Due: react

chore(release): publish v4.0.2-alpha.DSY-2008.3.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
  packages/web/package.json
Due: react, web

chore(dialog): add eventListener for keydown
  lerna.json
  packages/react/package.json
  packages/react/src/components/Dialog/Dialog.tsx
  packages/web/package.json
Due: react, web

chore(release): publish v4.0.2 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: react, web

chore(release): publish v4.1.0-alpha.DSY-1942.31.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.7.0-alpha.DSY-1942.33.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(natds-react): fix version
  packages/react/package.json
Due: react

chore: fix version
  lerna.json
Due: none
