Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

Update release-npm.sh
  .cicd/release-npm.sh
Due: none

refactor(natds-web): update logo Avon-v2 affects: @naturacosmeticos/natds-themes DSY-3466
  packages/styles/package.json
  packages/web/src/Components/Logo/Logo.tsx
  yarn.lock
Due: styles, web

test(natds-web): update snapshots affects: @naturacosmeticos/natds-web DSY-3466
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: web

fix(natds-styles): update snapshots affects: @naturacosmeticos/natds-styles DSY-3466
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/biome/__snapshots__/biome.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
Due: styles

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

feat(natds-react): add new logo Avon-v2 affects: @naturacosmeticos/natds-react DSY-3467
  packages/react/package.json
  packages/react/src/Templates/Home/LogoButton/LogoButton.styles.tsx
  yarn.lock
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

Update typography.ts
  packages/styles/src/themes/biome/typography.ts
Due: styles

Update avon_v2-light.ts
  packages/styles/src/tokens/colors/themeBound/avon_v2/avon_v2-light.ts
Due: styles

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(natds-react): add new version themes 0.59.1 affects: @naturacosmeticos/natds-react DSY-3478
  packages/react/package.json
  yarn.lock
Due: react

fix(natds-react): update coverage branch 90% affects: @naturacosmeticos/natds-react DSY-3478
  jest.config.base.js
Due: none

feat(natds-react): add new prop language Logo affects: @naturacosmeticos/natds-react DSY-3478
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.test.tsx
  packages/react/src/components/Logo/Logo.tsx
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
Due: react

test(natds-react): change mockthemes add PT e ES affects: @naturacosmeticos/natds-react DSY-3478
  packages/react/src/ThemeProvider/mock-theme.json
Due: react

feat(natds-react): add new prop brand e mode affects: @naturacosmeticos/natds-react DSY-3478
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.stories.tsx
  packages/react/src/components/Logo/Logo.tsx
Due: react

fix(natds-react): optimized svg in theme affects: @naturacosmeticos/natds-react DSY-3478
  packages/react/package.json
  yarn.lock
Due: react

feat(natds-react): add iconLeadind Prop in textfield and adjusts affects: @naturacosmeticos/natds-react DSY-3440
  packages/react/src/components/Input/Input.props.ts
  packages/react/src/components/Input/Input.styles.ts
  packages/react/src/components/Input/Input.tsx
Due: react

feat(natds-react): add stories textfield with iconLeading affects: @naturacosmeticos/natds-react DSY-3478
  packages/react/src/components/TextField/TextField.stories.tsx
Due: react

test(natds-react): update snapshots affects: @naturacosmeticos/natds-react DSY-3440
  packages/react/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

feat(natds-react): add switch theme in logo component affects: @naturacosmeticos/natds-react DSY-3478
  packages/react/src/brandTypes/brandTypes.ts
  packages/react/src/components/Logo/Logo.styles.ts
  packages/react/src/components/Logo/Logo.tsx
Due: react

feat(natds-react): add color secondary and adjusts in AppBar affects: @naturacosmeticos/natds-react DSY-3439
  packages/react/src/components/AppBarTop/AppBarTop.props.ts
  packages/react/src/components/AppBarTop/AppBarTop.stories.tsx
  packages/react/src/components/AppBarTop/AppBarTop.styles.ts
Due: react

feat(natds-react): include stories DisabledWithIconLeading affects: @naturacosmeticos/natds-react DSY-3440
  packages/react/src/components/TextField/TextField.stories.tsx
Due: react

feat(natds-react): add prop handleClick in drawer affects: @naturacosmeticos/natds-react DSY-3599
  packages/react/src/components/Drawer/Drawer.props.ts
  packages/react/src/components/Drawer/Drawer.stories.tsx
  packages/react/src/components/Drawer/Drawer.tsx
Due: react

feat(natds-react): add prop readOnly onchange affects: @naturacosmeticos/natds-react DSY-3677
  packages/react/src/components/Counter/Counter.props.ts
  packages/react/src/components/Counter/Counter.stories.tsx
  packages/react/src/components/Counter/Counter.tsx
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
Due: react

fix(natds-react): border textfield pattern 1px focus 2px affects: @naturacosmeticos/natds-react DSY-3684
  packages/react/src/components/Input/Input.styles.ts
Due: none
