Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore: fix formHelperText to show icon when have state
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/FormHelperText/FormHelperText.styles.ts
  packages/web/src/Components/FormHelperText/FormHelperText.tsx
  packages/web/src/Components/FormHelperText/__snapshots__/FormHelpText.test.tsx.snap
  packages/web/src/Components/InputStateHelpTextProvider/InputStateHelpTextProvider.styles.ts
  packages/web/src/Components/InputStateHelpTextProvider/InputStateHelpTextProvider.tsx
  packages/web/src/Components/InputStateHelpTextProvider/__snapshots__/InputStateHelpTextProvider.test.tsx.snap
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

chore: change ProgressIndicator, Tag and Card export
  packages/web/src/Components/Card/index.ts
  packages/web/src/Components/ProgressIndicator/index.ts
  packages/web/src/Components/Tag/index.ts
Due: web

fix(text field): fix label to not override the input field (#1500)
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/package.json
  packages/web/src/Components/Card/index.ts
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/FormHelperText/FormHelperText.styles.ts
  packages/web/src/Components/FormHelperText/FormHelperText.tsx
  packages/web/src/Components/FormHelperText/__snapshots__/FormHelpText.test.tsx.snap
  packages/web/src/Components/Icon/index.ts
  packages/web/src/Components/Input/Input.tsx
  packages/web/src/Components/Input/__snapshots__/Input.test.tsx.snap
  packages/web/src/Components/InputStateHelpTextProvider/InputStateHelpTextProvider.styles.ts
  packages/web/src/Components/InputStateHelpTextProvider/InputStateHelpTextProvider.tsx
  packages/web/src/Components/InputStateHelpTextProvider/__snapshots__/InputStateHelpTextProvider.test.tsx.snap
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.props.ts
  packages/web/src/Components/ProgressIndicator/index.ts
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
  packages/web/src/Components/Tag/index.ts
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  packages/web/src/index.ts
Due: styles, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(rating): add new component (#1494)
  jest.config.base.js
  packages/react/package.json
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Icon/Icon.styles.ts
  packages/react/src/components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/react/src/components/IconButton/IconButton.styles.ts
  packages/react/src/components/IconButton/IconButton.tsx
  packages/react/src/components/IconButton/IconButtonBase.tsx
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/Input/InputHelperText/__snapshots__/InputHelperText.test.tsx.snap
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.styles.ts
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/RatingBase.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/Rating/index.ts
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react/src/components/_helpers/Label/Label.test.tsx
  packages/react/src/components/_helpers/Label/Label.tsx
  packages/react/src/components/_helpers/Label/__snapshots__/Label.test.tsx.snap
  packages/react/src/components/_helpers/Label/index.ts
  packages/react/src/components/_subcomponents/Label/Label.subcomponent.tsx
  packages/react/src/components/_subcomponents/Label/Label.test.tsx
  packages/react/src/components/_subcomponents/Label/__snapshots__/Label.test.tsx.snap
  packages/react/src/components/_subcomponents/Label/index.ts
  packages/react/src/index.ts
  packages/styles/package.json
  packages/web/package.json
Due: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, react, web

feat(counter): add new component
  packages/react/src/components/Counter/Counter.props.ts
  packages/react/src/components/Counter/Counter.stories.tsx
  packages/react/src/components/Counter/Counter.styles.ts
  packages/react/src/components/Counter/Counter.tsx
  packages/react/src/components/Counter/index.ts
  packages/react/src/index.ts
Due: react

chore(counter):implementing styling in the component
  packages/react/src/components/Counter/Counter.props.ts
  packages/react/src/components/Counter/Counter.stories.tsx
  packages/react/src/components/Counter/Counter.styles.ts
  packages/react/src/components/Counter/Counter.tsx
Due: react

chore: create generic button
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/ButtonBase.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
Due: react

chore(counter): improve button styles
  packages/react/src/components/Counter/Counter.props.ts
  packages/react/src/components/Counter/Counter.stories.tsx
  packages/react/src/components/Counter/Counter.styles.ts
  packages/react/src/components/Counter/Counter.tsx
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(counter): fix styles
  packages/react/src/components/Counter/Counter.props.ts
  packages/react/src/components/Counter/Counter.styles.ts
  packages/react/src/components/Counter/Counter.tsx
Due: react

chore(Counter): Implementing counter test
  packages/react/src/components/Counter/Counter.props.ts
  packages/react/src/components/Counter/Counter.test.tsx
  packages/react/src/components/Counter/Counter.tsx
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
Due: react

chore(Counter): Implementing docs in props
  packages/react/src/components/Counter/Counter.props.ts
Due: react

chore: remove ButtonBase
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/ButtonBase.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
Due: react

chore(Counter): Implementing test in butao.
  packages/react/src/components/Counter/Counter.test.tsx
  packages/react/src/components/Counter/Counter.tsx
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
Due: react

chore: remove unused value prop
  packages/react/src/components/Button/Button.props.ts
Due: react

chore(Counter): update documentation
  packages/react/src/components/Counter/Counter.props.ts
  packages/react/src/components/Counter/Counter.tsx
Due: react

chore(Counter): update testing
  packages/react/src/components/Counter/Counter.test.tsx
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
Due: react

chore(Counter): improve a11y props
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Counter/Counter.props.ts
  packages/react/src/components/Counter/Counter.tsx
Due: react

chore(Counter): update stories
  packages/react/src/components/Counter/Counter.stories.tsx
Due: react

chore(Button): add classes to props list
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
Due: react

chore(Counter): fix border button
  packages/react/src/components/Counter/Counter.styles.ts
  packages/react/src/components/Counter/Counter.tsx
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
Due: react

fix(table pagination): update styles
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore: lint fix
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Counter/Counter.props.ts
  packages/react/src/components/Counter/Counter.styles.ts
  packages/react/src/components/Counter/Counter.tsx
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

fix(table pagination): update styles (#1502)
  packages/react/package.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/aesop/aesop-dark.ts
  packages/styles/src/themes/aesop/aesop-light.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/package.json
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, react, web

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
