Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

feat(natds-react): add brandProp Checkout template affects: @naturacosmeticos/natds-react DSY-3364
  packages/react/src/Templates/Checkout/ShoppingCart/RowCart.tsx
Due: react

fix(natds-react): change prop labelTransform to textTransform affects: @naturacosmeticos/natds-react DSY-3364
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/Button.tsx
Due: react

feat(natds-react): add verify letterspacing button with brand affects: @naturacosmeticos/natds-react DSY-3364
  packages/react/src/components/Button/Button.styles.ts
Due: none

test(natds-react): update snapshot letterspacing affects: @naturacosmeticos/natds-react DSY-3364
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Snackbar/__snapshots__/Snackbar.test.tsx.snap
Due: react

fix(natds-react): AccordionItem open brand in Icon affects: @naturacosmeticos/natds-react DSY-3364
  packages/react/src/components/AccordionItem/AccordionItem.tsx
Due: react

fix(natds-react): open brand in Ripple from check and radio affects: @naturacosmeticos/natds-react DSY-3364
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/RadioButton/RadioButton.tsx
Due: react

feat(natds-react): add brand prop in Ripple affects: @naturacosmeticos/natds-react DSY-3364
  packages/react/src/components/Ripple/Ripple.props.ts
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/Ripple/Ripple.tsx
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

feat(natds-react): add prop in stories button affects: @naturacosmeticos/natds-react DSY-3364
  packages/react/src/components/Button/Button.stories.tsx
Due: react

feat(natds-styles): add avon_v2 theme affects: @naturacosmeticos/natds-styles DSY-3397
  packages/styles/src/themes.ts
  packages/styles/src/themes/avon_v2/avon_v2-dark.ts
  packages/styles/src/themes/avon_v2/avon_v2-light.ts
  packages/styles/src/themes/avon_v2/typography.ts
  packages/styles/src/tokens/colors/themeBound/avon_v2/avon_v2-dark.ts
  packages/styles/src/tokens/colors/themeBound/avon_v2/avon_v2-light.ts
  packages/styles/src/tokens/colors/themeBound/avon_v2/index.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
Due: styles

feat(natds-web): add avon_v2 theme affects: @naturacosmeticos/natds-web DSY-3397
  packages/web/.storybook/decorators/ThemeProviderDecorator/index.js
  packages/web/.storybook/globalTypes/index.ts
  packages/web/src/Themes/ThemeBrandName.ts
Due: web

feat(natds-styles): add overrides MuiBuuton affects: @naturacosmeticos/natds-styles DSY-3397
  packages/styles/src/themes/avon_v2/avon_v2-dark.ts
Due: styles

Update package.json
  packages/react/package.json
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

test(natds-styles): update snapshot affects: @naturacosmeticos/natds-styles DSY-3397
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
Due: styles

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, react, web

feat(natds-react): add prop position in Drawer affects: @naturacosmeticos/natds-react DSY-3321
  packages/react/src/components/Drawer/Drawer.props.ts
  packages/react/src/components/Drawer/Drawer.stories.tsx
  packages/react/src/components/Drawer/Drawer.styles.ts
Due: react

test(natds-react): update snapshot affects: @naturacosmeticos/natds-react DSY-3321
  packages/react/src/components/Drawer/__snapshots__/Drawer.test.tsx.snap
Due: react

fix(natds-react): remove max height in overlayContainer affects: @naturacosmeticos/natds-react DSY-3321
  packages/react/src/components/Drawer/Drawer.styles.ts
Due: none

test(natds-react): update snapshot drawer affects: @naturacosmeticos/natds-react DSY-3321
  packages/react/src/components/Drawer/__snapshots__/Drawer.test.tsx.snap
Due: react

fix(natds-react): remove overflow affects: @naturacosmeticos/natds-react DSY-3321
  packages/react/src/components/Drawer/Drawer.stories.tsx
Due: react

feat(natds-react): add template Home affects: @naturacosmeticos/natds-react DSY-3195
  packages/react/src/Templates/Home/Home.props.tsx
  packages/react/src/Templates/Home/Home.stories.tsx
  packages/react/src/Templates/Home/Home.styles.tsx
  packages/react/src/Templates/Home/Home.tsx
Due: react

fix(natds-react): remove ref helvetica font in mock file affects: @naturacosmeticos/natds-react DSY-3452
  packages/react/src/ThemeProvider/mock-theme.json
Due: react

fix(natds-web): remove file snapshot with ref font helvetica affects: @naturacosmeticos/natds-react DSY-3452
  packages/web/src/Components/Intro/__snapshots__/Intro.stories.storyshot
  packages/web/src/Components/TextField/__snapshots__/TextField.stories.storyshot
Due: web

refactor(natds-react): remove prop dataCardSlide affects: @naturacosmeticos/natds-react DSY-3195
  packages/react/src/Templates/Checkout/Checkout.tsx
Due: react

feat(natds-react): add prop brand in Team component affects: @naturacosmeticos/natds-react DSY-3195
  packages/react/src/Templates/Checkout/Targ/index.tsx
  packages/react/src/Templates/Checkout/Targ/styles.ts
Due: react

feat(natds-react): create template Home affects: @naturacosmeticos/natds-react DSY-3195
  packages/react/src/Templates/Home/Home.stories.tsx
  packages/react/src/Templates/Home/Home.styles.tsx
  packages/react/src/Templates/Home/Home.tsx
  packages/react/src/Templates/Home/LogoButton/LogoButton.props.tsx
  packages/react/src/Templates/Home/LogoButton/LogoButton.styles.tsx
  packages/react/src/Templates/Home/LogoButton/LogoButton.tsx
  packages/react/src/Templates/Home/SlideBanner/SlideBanner.prop.tsx
  packages/react/src/Templates/Home/SlideBanner/SlideBanner.styles.tsx
  packages/react/src/Templates/Home/SlideBanner/SlideBanner.tsx
  packages/react/src/Templates/Home/mockHome/Avon.mock.ts
  packages/react/src/Templates/Home/mockHome/CasaEestilo.mock.ts
  packages/react/src/Templates/Home/mockHome/Natura.mock.ts
  packages/react/src/Templates/Home/mockHome/URLs.ts
  packages/react/src/Templates/mocks/mocks.ts
Due: react

refactor(natds-react): refactor Team Component Slide add prop Brand affects: @naturacosmeticos/natds-react DSY-3195
  packages/react/src/Templates/TeamComponent/Slide/CardSlide/CardSlide.props.ts
  packages/react/src/Templates/TeamComponent/Slide/CardSlide/index.tsx
  packages/react/src/Templates/TeamComponent/Slide/Slide.props.ts
  packages/react/src/Templates/TeamComponent/Slide/Slide.styles.ts
  packages/react/src/Templates/TeamComponent/Slide/Slide.tsx
Due: react

refactor(natds-react): add new URL image to Casa & Estilo affects: @naturacosmeticos/natds-react DSY-3364
  packages/react/src/Templates/Home/mockHome/URLs.ts
Due: react

feat(natds-react): add stories LogoButton affects: @naturacosmeticos/natds-react DSY-3195
  packages/react/src/Templates/Home/LogoButton/LogoButton.stories.tsx
Due: react

refactor(natds-react): remove comments affects: @naturacosmeticos/natds-react DSY-3364
  packages/react/src/Templates/Home/LogoButton/LogoButton.stories.tsx
Due: react

refactor(natds-react): change Home theme to Avon-v1 affects: @naturacosmeticos/natds-react DSY-3195
  packages/react/src/Templates/Home/Home.tsx
  packages/react/src/Templates/Home/mockHome/Avon.mock.ts
  packages/react/src/Templates/Home/mockHome/URLs.ts
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
