Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore(radio): add tests
  packages/react/src/components/RadioButton/RadioButton.test.tsx
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
Due: react

feat(radio): add new component
  packages/react/src/components/RadioButton/RadioButton.props.ts
  packages/react/src/components/RadioButton/RadioButton.stories.tsx
  packages/react/src/components/RadioButton/RadioButton.styles.ts
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/RadioButton/index.ts
  packages/react/src/index.ts
Due: react

chore(release): publish v3.1.0-alpha.DSY-1942.1.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(radio): add missing props
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.stories.tsx
  packages/react/src/components/Radio/Radio.styles.ts
  packages/react/src/components/Radio/Radio.test.tsx
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Radio/index.ts
  packages/react/src/components/RadioButton/RadioButton.props.ts
  packages/react/src/components/RadioButton/index.ts
  packages/react/src/index.ts
Due: react

chore(release): publish v2.6.0-alpha.DSY-1942.5.0 via lerna [skip-ci]
  packages/react/package.json
Due: react

fix(select): accept new option type object
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
Due: web

chore(release): publish v3.1.0-alpha.DSY-2195.1.0 via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: fix typo
  packages/react/src/components/Portal/Portal.test.tsx
  packages/react/src/components/Portal/__snapshots__/Portal.test.tsx.snap
Due: react

chore: fix typo
  packages/web/src/Components/Select/Select.test.tsx
  yarn.lock
Due: web

chore(release): publish %s via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

fix(select): adjust options type
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
Due: web

chore(select): pass correct list to options into stories
  packages/web/src/Components/Select/Select.stories.tsx
Due: web

chore(release): publish %s via lerna [skip-ci]
  packages/web/package.json
Due: web

fix(drawer menu): chnage type of list
  packages/web/src/Components/DrawerMenu/DrawerMenu.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.props.ts
  yarn.lock
Due: web

chore: update lerna.json
  lerna.json
Due: none

fix(drawer): change list type
  packages/web/src/Components/DrawerMenu/DrawerMenu.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.props.ts
  yarn.lock
Due: web

chore(release): publish v4.1.0-alpha.DSY-1474.2.0 via lerna [skip-ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

fix(lerna): update CLI
  package.json
  yarn.lock
Due: none

chore(release): publish %s via lerna [skip-ci]
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency @testing-library/user-event to v13.2.0
  package.json
  yarn.lock
Due: none

chore(deps): pin dependencies
  package.json
  packages/react/package.json
  packages/web/package.json
  packages/web/src/Components/Container/package.json
  yarn.lock
Due: react, web

chore(deps): update dependency @testing-library/user-event to v13.2.1
  package.json
  yarn.lock
Due: none

chore: remove unnecessary extends
  packages/web/src/Components/Select/Select.props.ts
Due: web

chore: add onBlur attribute
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.tsx
  yarn.lock
Due: web

fix(select): accept new option type object (#1481)
  packages/web/package.json
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.stories.tsx
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
  yarn.lock
Due: web

chore(radio): improve docs
  packages/react/src/components/Radio/Radio.props.ts
Due: react

chore(radio): add missing props
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.tsx
Due: react

chore(release): publish %s via lerna [skip-ci]
  packages/react/package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, react, web

chore(radio): add missing props
  lerna.json
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.tsx
Due: react

chore(release): publish v4.1.0-alpha.DSY-1942.18.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, react, web
