Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(deps): update dependency rollup to v2.61.0
  package.json
  yarn.lock
Due: none

chore(deps): update storybook monorepo to v6.4.9
  package.json
  yarn.lock
Due: none

chore(deps): update jest monorepo
  package.json
  yarn.lock
Due: none

fix(natds-react): add 'jsdom' as test environment
  packages/react/jest.config.js
  packages/react/src/hooks/useWindowSize.test.ts
  packages/web/jest.config.js
Due: react, web

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.9.2
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

fix(natds-react): updates button to grow when inside flexible display and has true full width property
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/Ripple/__snapshots__/Ripple.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(deps): update dependency jest to v27.4.5
  package.json
  yarn.lock
Due: none

fix(natds-react): change rule to release messagem on Teams
  .cicd/build-storybook.sh
  .cicd/message-teams.sh
  .cicd/quality-check.sh
  .cicd/release-npm.sh
  .cicd/setup.sh
  .cicd/skip-commit.sh
Due: none

Dsy 0007 (#1616)
  .cicd/build-storybook.sh
  .cicd/message-teams.sh
  .cicd/quality-check.sh
  .cicd/release-npm.sh
  .cicd/setup.sh
  .cicd/skip-commit.sh
Due: none

chore(deps): update dependency rollup to v2.61.1
  package.json
  yarn.lock
Due: none

chore: update pull request template
  .github/pull_request_template.md
Due: none

fix: message-teams trigger
  .cicd/message-teams.sh
Due: none

chore(natds-react): change Icon default name rule
  packages/react/src/components/Icon/Icon.tsx
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore: update release message on teams rule
  .cicd/message-teams.sh
Due: none

chore(deps): update dependency puppeteer to v13
  package.json
  yarn.lock
Due: none

chore(deps): update babel monorepo to v7.16.5
  package.json
  yarn.lock
Due: none

chore: update release message teams rules
  .cicd/message-teams.sh
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v13.1.1
  package.json
  yarn.lock
Due: none

fix(natds-web): remove Input console warning
  packages/web/src/Components/Counter/InputCounter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

fix(natds-web): remove warning that appears on the console when TextField is implemented. (#1625)
  packages/web/package.json
  packages/web/src/Components/Counter/InputCounter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore: update release message script
  .cicd/message-teams.sh
Due: none

chore: update release message script (#1626)
  .cicd/message-teams.sh
Due: none

fix(natds-react): exports Theme from @naturacosmeticos/natds-themes
  packages/react/src/ThemeProvider/index.ts
  packages/react/src/index.ts
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  .cicd/message-teams.sh
  packages/react/package.json
Due: react

docs(natds-react): update docs structure and include a new one
  packages/react/.storybook/main.js
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/design-tokens.stories.mdx
  packages/react/docs/getting-started.stories.mdx
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
