Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

fix: minimum value cannot be negative
  packages/react/src/Templates/TeamComponent/ProgressBar/ProgressBar.styles.ts
Due: none

feat(natds-react): change prop IconPosition add center affects: @naturacosmeticos/natds-react DSY-4035
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.tsx
Due: react

feat(natds-react): change style counter affects: @naturacosmeticos/natds-react DSY-4035
  packages/react/src/components/Counter/Counter.styles.ts
  packages/react/src/components/Counter/Counter.tsx
Due: react

test(natds-react): update snapshot affects: @naturacosmeticos/natds-react DSY-4035
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Counter/Counter.test.tsx
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Snackbar/__snapshots__/Snackbar.test.tsx.snap
Due: react

fix(natds-react): state button focus to focus-visible affects: @naturacosmeticos/natds-react DSY-4005
  packages/react/src/components/Button/Button.styles.ts
Due: none

test(natds-react): update snapshots affects: @naturacosmeticos/natds-react DSY-4005
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Snackbar/__snapshots__/Snackbar.test.tsx.snap
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

fix(natds-react): style insert className in button affects: @naturacosmeticos/natds-react DSY-4005
  packages/react/src/components/Button/Button.tsx
Due: react

feat(natds-react): style border adjusted affects: @naturacosmeticos/natds-react DSY-4005
  packages/react/src/components/Counter/Counter.styles.ts
Due: none

test(natds-react): update snapshot affects: @naturacosmeticos/natds-react DSY-4005
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Snackbar/__snapshots__/Snackbar.test.tsx.snap
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

fix(natds-react): update changelog-react-2.57.0 affects: @naturacosmeticos/natds-react DSY-4005
  packages/react/CHANGELOG.md
Due: react

feat(natds-react): added Analytic in storybook affects: @naturacosmeticos/natds-react DSY-4260
  packages/react/.storybook/manager-head.html
Due: react

chore(natds-styles): update theme version 0.58.5 to 0.70.0 affects: @naturacosmeticos/natds-styles DSY-4268
  packages/styles/package.json
  yarn.lock
Due: styles

feat(natds-styles): added natura_v3 theme affects: @naturacosmeticos/natds-styles DSY-4268
  packages/styles/src/themes.ts
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/themes/natura_v3/natura_v3-dark.ts
  packages/styles/src/themes/natura_v3/natura_v3-light.ts
  packages/styles/src/themes/natura_v3/typography.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
  packages/styles/src/tokens/colors/themeBound/natura_v3/index.ts
  packages/styles/src/tokens/colors/themeBound/natura_v3/natura_v3-dark.ts
  packages/styles/src/tokens/colors/themeBound/natura_v3/natura_v3-light.ts
Due: styles

test(natds-styles): update snapshots affects: @naturacosmeticos/natds-styles DSY-4268
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/biome/__snapshots__/biome.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
Due: styles

test(natds-web): update snapshots affects: @naturacosmeticos/natds-web DSY-4268
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

feat(natds-web): added natura_v3 theme affects: @naturacosmeticos/natds-web DSY-4312
  packages/web/.storybook/decorators/ThemeProviderDecorator/index.js
  packages/web/.storybook/globalTypes/index.ts
  packages/web/src/Themes/ThemeBrandName.ts
Due: web

feat(natds-web): added buttonBorderRadius affects: @naturacosmeticos/natds-web DSY-4312
  packages/web/src/Components/Button/Button.styles.ts
Due: none

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

feat(natds-web): added prop textTransform affects: @naturacosmeticos/natds-web DSY-4312
  packages/web/src/Components/Button/Button.props.ts
  packages/web/src/Components/Button/Button.tsx
Due: web

test(natds-web): update snapshots to textTransform prop affects: @naturacosmeticos/natds-web DSY-4312
  packages/web/src/Components/Button/__snapshots__/Button.test.tsx.snap
  packages/web/src/Components/ButtonGroup/__snapshots__/ButtonGroup.test.tsx.snap
  packages/web/src/Components/Card/__snapshots__/Card.test.tsx.snap
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Menu/__snapshots__/Menu.test.tsx.snap
  packages/web/src/Components/Popover/__snapshots__/Popover.test.tsx.snap
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

Update CHANGELOG.md
  packages/web/CHANGELOG.md
Due: web

chore(natds-react): update themes to 0.71.0 affects: @naturacosmeticos/natds-react DSY-4340
  packages/react/.storybook/globalTypes/index.js
  packages/react/package.json
  packages/react/src/brandTypes/brandTypes.ts
  yarn.lock
Due: react

fix(natds-react): update switch theme buttonborderradius affects: @naturacosmeticos/natds-react DSY-4340
  packages/react/src/components/Button/Button.styles.ts
Due: none

fix(natds-react): added function getPropsThemeRipple affects: @naturacosmeticos/natds-react DSY-4340
  packages/react/src/components/Ripple/Ripple.styles.ts
Due: none

test(natds-react): resolve test e update snapshot affects: @naturacosmeticos/natds-react DSY-4340
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/components/AccordionItem/__snapshots__/AccordionItem.test.tsx.snap
  packages/react/src/components/Alert/__snapshots__/Alert.test.tsx.snap
  packages/react/src/components/AppBarTop/__snapshots__/AppBarTop.spec.tsx.snap
  packages/react/src/components/Autocomplete/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/components/Badge/__snapshots__/Badge.test.tsx.snap
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Chip/Chip.test.tsx
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Divider/__snapshots__/Divider.test.tsx.snap
  packages/react/src/components/Drawer/__snapshots__/Drawer.test.tsx.snap
  packages/react/src/components/Icon/Icon.test.tsx
  packages/react/src/components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/Input/InputHelperText/__snapshots__/InputHelperText.test.tsx.snap
  packages/react/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/react/src/components/Link/__snapshots__/Link.test.tsx.snap
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/MenuItem/__snapshots__/MenuItem.test.tsx.snap
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/Ripple/__snapshots__/Ripple.test.tsx.snap
  packages/react/src/components/Shortcut/__snapshots__/Shortcut.test.tsx.snap
  packages/react/src/components/Snackbar/__snapshots__/Snackbar.test.tsx.snap
  packages/react/src/components/Switch/__snapshots__/Switch.test.tsx.snap
  packages/react/src/components/Tab/__snapshots__/Tab.test.tsx.snap
  packages/react/src/components/TabItem/__snapshots__/TabItem.test.tsx.snap
  packages/react/src/components/Tag/__snapshots__/Tag.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

fix(natds-react): change ripple in button affects: @naturacosmeticos/natds-react DSY-4340
  packages/react/src/components/Button/Button.tsx
Due: react

chore(natds-react): added stories in button natura_v3 affects: @naturacosmeticos/natds-react DSY-4340
  packages/react/src/components/Button/Button.stories.tsx
Due: react

fix(natds-react): show colors neutrals affects: @naturacosmeticos/natds-react DSY-4340
  packages/react/src/Templates/ColorView/ColorView.stories.tsx
Due: react

chore(natds-react): update mocktheme affects: @naturacosmeticos/natds-react DSY-4340
  packages/react/src/ThemeProvider/mock-theme.json
Due: react

test(natds-react): change test rating affects: @naturacosmeticos/natds-react DSY-4340
  packages/react/src/components/Rating/Rating.test.tsx
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
