Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(list item): add tabIndex to allow keyboard navigation
  packages/react/src/components/ListItem/ListItem.tsx
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(list item): fix background-color when component have focus or is selected
  packages/react/src/components/ListItem/ListItem.styles.ts
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
Due: react

chore(list item): refactor interactions
  packages/react/src/components/ListItem/ListItem.props.ts
  packages/react/src/components/ListItem/ListItem.stories.tsx
  packages/react/src/components/ListItem/ListItem.styles.ts
  packages/react/src/components/ListItem/ListItem.test.tsx
  packages/react/src/components/ListItem/ListItem.tsx
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
Due: react

chore(list item): update component status
  packages/react/src/components/ListItem/ListItem.stories.tsx
Due: react

feat(list item): add new component (#1493)
  packages/react/package.json
  packages/react/src/components/Divider/Divider.props.ts
  packages/react/src/components/ListItem/ListItem.props.ts
  packages/react/src/components/ListItem/ListItem.stories.tsx
  packages/react/src/components/ListItem/ListItem.styles.ts
  packages/react/src/components/ListItem/ListItem.test.tsx
  packages/react/src/components/ListItem/ListItem.tsx
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/ListItem/index.ts
  packages/react/src/index.ts
  yarn.lock
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): update storybook monorepo to v6.3.7
  package.json
  yarn.lock
Due: none

chore(storybook): include mode switch toggle
  packages/react/.storybook/decorators/themeDecorator.js
  packages/react/.storybook/main.js
  packages/react/.storybook/manager.js
  packages/react/.storybook/preview.js
  packages/react/package.json
  yarn.lock
Due: react

chore(storybook): show theme brand list
  packages/react/.storybook/globalTypes/index.js
  packages/react/.storybook/preview.js
  packages/web/.storybook/globalTypes/index.ts
Due: react, web

chore(storybook): remove unecessary dependencies
  package.json
  packages/web/.storybook/main.js
  yarn.lock
Due: web

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.5.3
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.8.3
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

fix(counter): change import
  packages/web/src/Components/Counter/Counter.tsx
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(rating): add new component
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.styles.ts
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/index.ts
  packages/react/src/components/_subcomponents/Label/Label.subcomponent.tsx
  packages/react/src/components/_subcomponents/Rating/Rating.subcomponent.tsx
  packages/react/src/index.ts
Due: react

chore: refactor label subcomponent
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/_helpers/Label/Label.tsx
  packages/react/src/components/_helpers/Label/__snapshots__/Label.test.tsx.snap
  packages/react/src/components/_helpers/Label/index.ts
  packages/react/src/components/_subcomponents/Label/Label.subcomponent.tsx
  packages/react/src/components/_subcomponents/Label/Label.test.tsx
  packages/react/src/components/_subcomponents/Label/__snapshots__/Label.test.tsx.snap
  packages/react/src/components/_subcomponents/Label/index.ts
Due: react

chore: create rating as subcomponent
  packages/react/src/components/_subcomponents/Rating/Rating.subcomponent.tsx
  packages/react/src/components/_subcomponents/Rating/index.ts
Due: react

chore: refactor iconButton to be reused
  packages/react/src/components/IconButton/IconButton.styles.ts
  packages/react/src/components/IconButton/IconButton.tsx
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react/src/components/_subcomponents/IconButton/IconButton.base.tsx
  packages/react/src/components/_subcomponents/IconButton/index.ts
Due: react

chore: fix label props
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/_subcomponents/Label/Label.test.tsx
Due: react

chore: improve some props
  packages/react/src/components/IconButton/IconButton.tsx
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react/src/components/_subcomponents/IconButton/IconButton.base.tsx
Due: react

chore: rename RatingBase
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/_subcomponents/Rating/Rating.base.tsx
  packages/react/src/components/_subcomponents/Rating/Rating.subcomponent.tsx
  packages/react/src/components/_subcomponents/Rating/index.ts
Due: react

chore: include some tests
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.styles.ts
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/_subcomponents/Rating/Rating.base.test.tsx
  packages/react/src/components/_subcomponents/Rating/Rating.base.tsx
  packages/react/src/components/_subcomponents/Rating/__snapshots__/Rating.base.test.tsx.snap
Due: react

chore(rating): fix disabled validation
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.tsx
Due: react

chore(rating): lint fix
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/Rating.tsx
Due: react

chore(rating): remove focus style when it is not clickable
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/_subcomponents/Rating/Rating.base.tsx
  packages/react/src/components/_subcomponents/Rating/__snapshots__/Rating.base.test.tsx.snap
Due: react

chore: include tests for RatingBase
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/_subcomponents/Rating/Rating.base.test.tsx
  packages/react/src/components/_subcomponents/Rating/Rating.base.tsx
Due: react

chore: fix disabled
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/_subcomponents/Rating/Rating.base.tsx
Due: react

chore: remove coverage threshold
  jest.config.base.js
Due: none

chore: rename files
  packages/react/src/components/_subcomponents/IconButton/IconButtonBase.tsx
  packages/react/src/components/_subcomponents/IconButton/index.ts
  packages/react/src/components/_subcomponents/Rating/RatingBase.test.tsx
  packages/react/src/components/_subcomponents/Rating/RatingBase.tsx
  packages/react/src/components/_subcomponents/Rating/index.ts
Due: react

chore: refactore RatingBase
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/_subcomponents/IconButton/IconButtonBase.tsx
  packages/react/src/components/_subcomponents/Rating/RatingBase.tsx
  packages/react/src/components/_subcomponents/Rating/__snapshots__/RatingBase.test.tsx.snap
Due: react

chore: fix click on RatingInput
  packages/react/src/components/Icon/Icon.styles.ts
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.stories.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/_subcomponents/Rating/RatingBase.tsx
Due: react

chore: move components
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/react/src/components/IconButton/IconButton.tsx
  packages/react/src/components/IconButton/IconButtonBase.tsx
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/Input/InputHelperText/__snapshots__/InputHelperText.test.tsx.snap
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/RatingBase.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react/src/components/_subcomponents/IconButton/index.ts
  packages/react/src/components/_subcomponents/Rating/RatingBase.test.tsx
  packages/react/src/components/_subcomponents/Rating/__snapshots__/RatingBase.test.tsx.snap
  packages/react/src/components/_subcomponents/Rating/index.ts
Due: react

chore: fix type guard on isActive function
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.tsx
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
