Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(deps): update dependency codecov to v3.8.3
  packages/styles/package.json
  yarn.lock
Due: styles

chore(deps): update dependency concurrently to v6.2.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency chromatic to v5.10.1
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.25
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update dependency puppeteer to v10.4.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency husky to v7.0.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.57.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v20
  package.json
  yarn.lock
Due: none

chore(natds-react): improve docs
  packages/react/src/components/Badge/Badge.props.ts
  packages/react/src/components/Badge/Badge.tsx
Due: react

chore(deps): update commitlint monorepo to v13
  package.json
  yarn.lock
Due: none

feat(natds-react): add badge component
  packages/react/regression/__image_snapshots__/badge--colors-snap.png
  packages/react/regression/__image_snapshots__/badge--limit-snap.png
  packages/react/regression/__image_snapshots__/badge--playground-snap.png
  packages/react/regression/__image_snapshots__/badge--variants-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/src/components/Badge/Badge.props.ts
  packages/react/src/components/Badge/Badge.stories.tsx
  packages/react/src/components/Badge/Badge.styles.ts
  packages/react/src/components/Badge/Badge.test.tsx
  packages/react/src/components/Badge/Badge.tsx
  packages/react/src/components/Badge/__snapshots__/Badge.test.tsx.snap
  packages/react/src/components/Badge/index.ts
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/index.ts
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
  packages/react/src/components/Badge/Badge.stories.tsx
Due: react

feat(natds-react): add badge component (#1517)
  packages/react/package.json
  packages/react/regression/__image_snapshots__/badge--colors-snap.png
  packages/react/regression/__image_snapshots__/badge--limit-snap.png
  packages/react/regression/__image_snapshots__/badge--playground-snap.png
  packages/react/regression/__image_snapshots__/badge--variants-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/src/components/Badge/Badge.props.ts
  packages/react/src/components/Badge/Badge.stories.tsx
  packages/react/src/components/Badge/Badge.styles.ts
  packages/react/src/components/Badge/Badge.test.tsx
  packages/react/src/components/Badge/Badge.tsx
  packages/react/src/components/Badge/__snapshots__/Badge.test.tsx.snap
  packages/react/src/components/Badge/index.ts
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/index.ts
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): update typescript-eslint monorepo to v4.32.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v7.32.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint-plugin-jest to v24.5.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.26
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update dependency @types/react-text-mask to v5.4.9
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/jest to v27
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.14.2
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore: update mock-theme
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/ThemeProvider/mock-theme.json
Due: react

fix(natds-react): update natds-theme
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

refactor(natds-react): change Dialog to get typography from natds-themes
  packages/react/regression/__image_snapshots__/button--disabled-snap.png
  packages/react/regression/__image_snapshots__/button--icon-snap.png
  packages/react/regression/__image_snapshots__/button--sizes-snap.png
  packages/react/regression/__image_snapshots__/button--variants-snap.png
  packages/react/regression/__image_snapshots__/card--elevation-snap.png
  packages/react/regression/__image_snapshots__/card--playground-snap.png
  packages/react/regression/__image_snapshots__/card--radius-snap.png
  packages/react/regression/__image_snapshots__/counter--playground-snap.png
  packages/react/regression/__image_snapshots__/dialog--playground-snap.png
  packages/react/regression/__image_snapshots__/logo--size-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-icon-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-image-snap.png
  packages/react/regression/__image_snapshots__/textfield--disabled-snap.png
  packages/react/regression/__image_snapshots__/textfield--feedback-snap.png
  packages/react/regression/__image_snapshots__/textfield--helper-text-snap.png
  packages/react/regression/__image_snapshots__/textfield--playground-snap.png
  packages/react/regression/__image_snapshots__/textfield--read-only-snap.png
  packages/react/regression/__image_snapshots__/textfield--required-snap.png
  packages/react/regression/__image_snapshots__/textfield--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--type-snap.png
  packages/react/regression/__image_snapshots__/typography--custom-fonts-snap.png
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.props.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

fix(natds-react): add missing label to Checkbox component
  packages/react/regression/__image_snapshots__/button--disabled-snap.png
  packages/react/regression/__image_snapshots__/button--icon-snap.png
  packages/react/regression/__image_snapshots__/button--sizes-snap.png
  packages/react/regression/__image_snapshots__/button--variants-snap.png
  packages/react/regression/__image_snapshots__/card--elevation-snap.png
  packages/react/regression/__image_snapshots__/card--playground-snap.png
  packages/react/regression/__image_snapshots__/card--radius-snap.png
  packages/react/regression/__image_snapshots__/checkbox--disabled-snap.png
  packages/react/regression/__image_snapshots__/checkbox--playground-snap.png
  packages/react/regression/__image_snapshots__/checkbox--variants-snap.png
  packages/react/regression/__image_snapshots__/counter--playground-snap.png
  packages/react/regression/__image_snapshots__/dialog--playground-snap.png
  packages/react/regression/__image_snapshots__/logo--size-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-icon-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-image-snap.png
  packages/react/regression/__image_snapshots__/textfield--disabled-snap.png
  packages/react/regression/__image_snapshots__/textfield--feedback-snap.png
  packages/react/regression/__image_snapshots__/textfield--helper-text-snap.png
  packages/react/regression/__image_snapshots__/textfield--playground-snap.png
  packages/react/regression/__image_snapshots__/textfield--read-only-snap.png
  packages/react/regression/__image_snapshots__/textfield--required-snap.png
  packages/react/regression/__image_snapshots__/textfield--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--type-snap.png
  packages/react/regression/__image_snapshots__/typography--custom-fonts-snap.png
  packages/react/src/components/Checkbox/Checkbox.props.ts
  packages/react/src/components/Checkbox/Checkbox.stories.tsx
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Checkbox/Checkbox.test.tsx
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: react

fix(natds-react): add missing label to Checkbox component (#1540)
  packages/react/package.json
  packages/react/regression/__image_snapshots__/button--disabled-snap.png
  packages/react/regression/__image_snapshots__/button--icon-snap.png
  packages/react/regression/__image_snapshots__/button--sizes-snap.png
  packages/react/regression/__image_snapshots__/button--variants-snap.png
  packages/react/regression/__image_snapshots__/card--elevation-snap.png
  packages/react/regression/__image_snapshots__/card--playground-snap.png
  packages/react/regression/__image_snapshots__/card--radius-snap.png
  packages/react/regression/__image_snapshots__/checkbox--disabled-snap.png
  packages/react/regression/__image_snapshots__/checkbox--playground-snap.png
  packages/react/regression/__image_snapshots__/checkbox--variants-snap.png
  packages/react/regression/__image_snapshots__/counter--playground-snap.png
  packages/react/regression/__image_snapshots__/dialog--playground-snap.png
  packages/react/regression/__image_snapshots__/logo--size-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-icon-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-image-snap.png
  packages/react/regression/__image_snapshots__/textfield--disabled-snap.png
  packages/react/regression/__image_snapshots__/textfield--feedback-snap.png
  packages/react/regression/__image_snapshots__/textfield--helper-text-snap.png
  packages/react/regression/__image_snapshots__/textfield--playground-snap.png
  packages/react/regression/__image_snapshots__/textfield--read-only-snap.png
  packages/react/regression/__image_snapshots__/textfield--required-snap.png
  packages/react/regression/__image_snapshots__/textfield--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--type-snap.png
  packages/react/regression/__image_snapshots__/typography--custom-fonts-snap.png
  packages/react/src/components/Checkbox/Checkbox.props.ts
  packages/react/src/components/Checkbox/Checkbox.stories.tsx
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Checkbox/Checkbox.test.tsx
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: react

refactor(natds-react): change Dialog to get typography from natds-themes
  packages/react/regression/__image_snapshots__/button--disabled-snap.png
  packages/react/regression/__image_snapshots__/button--icon-snap.png
  packages/react/regression/__image_snapshots__/button--sizes-snap.png
  packages/react/regression/__image_snapshots__/button--variants-snap.png
  packages/react/regression/__image_snapshots__/card--elevation-snap.png
  packages/react/regression/__image_snapshots__/card--playground-snap.png
  packages/react/regression/__image_snapshots__/card--radius-snap.png
  packages/react/regression/__image_snapshots__/checkbox--disabled-snap.png
  packages/react/regression/__image_snapshots__/checkbox--variants-snap.png
  packages/react/regression/__image_snapshots__/counter--playground-snap.png
  packages/react/regression/__image_snapshots__/dialog--playground-snap.png
  packages/react/regression/__image_snapshots__/logo--size-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-icon-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-image-snap.png
  packages/react/regression/__image_snapshots__/textfield--disabled-snap.png
  packages/react/regression/__image_snapshots__/textfield--feedback-snap.png
  packages/react/regression/__image_snapshots__/textfield--helper-text-snap.png
  packages/react/regression/__image_snapshots__/textfield--playground-snap.png
  packages/react/regression/__image_snapshots__/textfield--read-only-snap.png
  packages/react/regression/__image_snapshots__/textfield--required-snap.png
  packages/react/regression/__image_snapshots__/textfield--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--type-snap.png
  packages/react/regression/__image_snapshots__/typography--custom-fonts-snap.png
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.props.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

refactor(natds-react): change Dialog to get typography from natds-themes
  packages/react/regression/__image_snapshots__/badge--colors-snap.png
  packages/react/regression/__image_snapshots__/button--disabled-snap.png
  packages/react/regression/__image_snapshots__/button--icon-snap.png
  packages/react/regression/__image_snapshots__/button--sizes-snap.png
  packages/react/regression/__image_snapshots__/button--variants-snap.png
  packages/react/regression/__image_snapshots__/card--elevation-snap.png
  packages/react/regression/__image_snapshots__/card--playground-snap.png
  packages/react/regression/__image_snapshots__/card--radius-snap.png
  packages/react/regression/__image_snapshots__/checkbox--disabled-snap.png
  packages/react/regression/__image_snapshots__/checkbox--variants-snap.png
  packages/react/regression/__image_snapshots__/counter--playground-snap.png
  packages/react/regression/__image_snapshots__/dialog--playground-snap.png
  packages/react/regression/__image_snapshots__/logo--size-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-icon-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-image-snap.png
  packages/react/regression/__image_snapshots__/textfield--disabled-snap.png
  packages/react/regression/__image_snapshots__/textfield--feedback-snap.png
  packages/react/regression/__image_snapshots__/textfield--helper-text-snap.png
  packages/react/regression/__image_snapshots__/textfield--playground-snap.png
  packages/react/regression/__image_snapshots__/textfield--read-only-snap.png
  packages/react/regression/__image_snapshots__/textfield--required-snap.png
  packages/react/regression/__image_snapshots__/textfield--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--type-snap.png
  packages/react/regression/__image_snapshots__/typography--custom-fonts-snap.png
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.props.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
