Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(logo): refactor logo to inject svg
  packages/react/src/ThemeProvider/mock-theme.json
  packages/react/src/components/Logo/Logo.tsx
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
Due: react

chore(logo): remove dead code
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-19-snap.png
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.test.tsx
  packages/react/src/components/Logo/Logo.tsx
Due: react

chore(logo): add ariaLabel as props
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.tsx
Due: react

chore(logo): change models option to be equal UI doc
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.stories.tsx
  packages/react/src/components/Logo/Logo.tsx
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
Due: react

chore: update regression tests
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-12-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-13-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-14-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-15-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-20-snap.png
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.test.tsx
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
Due: react

chore(release): publish v2.2.0-alpha.DSY-2058.29.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency jest to v27
  package.json
  yarn.lock
Due: none

chore(deps): update babel monorepo to v7.14.4
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/react to v17.0.9
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(logo): update component status
  packages/react/src/components/Logo/Logo.stories.tsx
Due: react

chore(logo): add type for Theme
  packages/react/src/components/Logo/Logo.tsx
Due: react

chore(release): publish v2.2.0-alpha.DSY-2058.14.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

feat(logo): create new component
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.stories.tsx
  packages/react/src/components/Logo/Logo.styles.ts
  packages/react/src/components/Logo/Logo.tsx
  packages/react/src/components/Logo/index.ts
  packages/react/src/index.ts
Due: react

chore(logo): rename methods to check color and model
  packages/react/src/components/Logo/Logo.tsx
Due: react

chore: add natura logo to storybook
  packages/react/.storybook/theme.js
  packages/react/package.json
Due: react

chore(logo): add tests
  packages/react/src/components/Logo/Logo.test.tsx
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
Due: react

chore(logo): get logo from theme
  packages/react/.storybook/theme.js
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.stories.tsx
  packages/react/src/components/Logo/Logo.tsx
Due: react

chore(logo): update regression tests
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-1-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-10-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-11-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-16-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-17-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-18-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-19-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-2-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-3-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-4-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-5-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-6-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-7-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-8-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-9-snap.png
  packages/react/regression/components.test.ts
Due: react

chore(logo): update test
  packages/react/src/components/Logo/Logo.test.tsx
  packages/react/src/components/Logo/Logo.tsx
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
Due: react

chore(logo): fix logo sizes
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.stories.tsx
  packages/react/src/components/Logo/Logo.styles.ts
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
Due: react

chore(logo): add react-svg to inject svg and allow modify color
  packages/react/package.json
  packages/react/src/components/Logo/Logo.stories.tsx
  packages/react/src/components/Logo/Logo.styles.ts
  packages/react/src/components/Logo/Logo.tsx
  yarn.lock
Due: react

chore(logo): remove react-svg and update natds-themes
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore(release): publish v2.2.0-alpha.DSY-2058.19.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency react-styleguidist to v11.1.7
  package.json
  yarn.lock
Due: none

feat(progress indicator): create new component
  packages/react/src/components/ProgressIndicator/ProgressIndicator.props.test.tsx
  packages/react/src/components/ProgressIndicator/ProgressIndicator.props.ts
  packages/react/src/components/ProgressIndicator/ProgressIndicator.stories.tsx
  packages/react/src/components/ProgressIndicator/ProgressIndicator.styles.ts
  packages/react/src/components/ProgressIndicator/ProgressIndicator.tsx
  packages/react/src/components/ProgressIndicator/__snapshots__/ProgressIndicator.props.test.tsx.snap
  packages/react/src/components/ProgressIndicator/index.ts
  packages/react/src/index.ts
Due: react

chore(release): publish v2.2.0-alpha.DSY-1962.1.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

feat(logo): create new component (#1386)
  lerna.json
  packages/react/.storybook/theme.js
  packages/react/package.json
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-1-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-10-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-11-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-12-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-13-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-14-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-15-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-16-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-17-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-18-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-19-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-2-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-20-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-3-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-4-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-5-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-6-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-7-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-8-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-9-snap.png
  packages/react/regression/components.test.ts
  packages/react/src/ThemeProvider/mock-theme.json
  packages/react/src/components/Logo/Logo.props.ts
  packages/react/src/components/Logo/Logo.stories.tsx
  packages/react/src/components/Logo/Logo.styles.ts
  packages/react/src/components/Logo/Logo.test.tsx
  packages/react/src/components/Logo/Logo.tsx
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
  packages/react/src/components/Logo/index.ts
  packages/react/src/index.ts
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore(release): publish v2.2.0 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): update dependency @types/react-dom to v17.0.6
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update jest dependencies
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v2.3.0-alpha.DSY-1962.1.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency chromatic to v5.9.0
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency eslint to v7.28.0
  package.json
  yarn.lock
Due: none

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
