Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore(natds-react): removing script call
  .cicd/release-npm.sh
Due: none

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(natds-react): release message only for natds-react
  .cicd/release-npm.sh
Due: none

fix(natds-react): improve rule to generate release message
  .cicd/release-npm.sh
Due: none

chore(natds-react): change message_teams script folder
  .cicd/message_teams.json
  .cicd/message_teams.sh
  .cicd/release-npm.sh
  packages/react/scripts/message_teams.sh
Due: react

chore(natds-react): change message_teams script folder
  .cicd/message-teams.json
  .cicd/message-teams.sh
  .cicd/release-npm.sh
  packages/react/scripts/message_teams.sh
Due: react

chore(natds-react): fix path
  .cicd/message-teams.sh
Due: none

chore(natds-react): changing changelog path
  .cicd/message-teams.sh
Due: none

chore(natds-react): fix space
  .cicd/message-teams.sh
  .cicd/release-npm.sh
  packages/react/scripts/message_teams.json
  packages/react/scripts/message_teams.sh
Due: react

chore(natds-react): automate teams message in releases update (#1600)
  .cicd/message-teams.json
  .cicd/message-teams.sh
  .cicd/release-npm.sh
  packages/react/package.json
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(natds-react): update release-npm
  .cicd/message-teams.sh
  .cicd/release-npm.sh
Due: none

chore(deps): update dependency @types/react-text-mask to v5.4.10
  packages/web/package.json
  yarn.lock
Due: web

fix(deps): update dependency react-jss to v10.8.2
  packages/react/package.json
  yarn.lock
Due: react

chore(deps): update jest monorepo
  package.json
  yarn.lock
Due: none

chore(deps): update dependency chromatic to v6.2.0
  packages/web/package.json
  yarn.lock
Due: web

chore: update natds-themes
  packages/react/package.json
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/ThemeProvider/mock-theme.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

feat(natds-react): update component borderRadius tokens
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Counter/Counter.styles.ts
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/IconButton/IconButton.styles.ts
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/Input.styles.ts
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

feat(natds-react): update component borderRadius tokens
  .cicd/release-npm.sh
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Counter/Counter.styles.ts
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/IconButton/IconButton.styles.ts
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/Input.styles.ts
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore: update release-npm
  .cicd/release-npm.sh
Due: none

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.20.0
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
  packages/react/src/components/RadioButton/RadioButton.styles.ts
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
Due: react

feat(natds-react): update component borderRadius tokens (#1606)
  .cicd/release-npm.sh
  packages/react/package.json
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/ThemeProvider/mock-theme.json
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Counter/Counter.styles.ts
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/IconButton/IconButton.styles.ts
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/Input.styles.ts
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/RadioButton/RadioButton.styles.ts
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore(deps): update dependency @types/react to v17.0.37
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update typescript-eslint monorepo to v5.6.0
  package.json
  yarn.lock
Due: none

refactor(natds-react): update types
  packages/react/src/components/Badge/Badge.styles.ts
  packages/react/src/components/Badge/Badge.tsx
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Card/Card.styles.ts
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Counter/Counter.styles.ts
  packages/react/src/components/Counter/Counter.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Divider/Divider.styles.ts
  packages/react/src/components/IconButton/IconButtonBase.tsx
  packages/react/src/components/Input/InputHelperText/InputHelperText.styles.ts
  packages/react/src/components/ListItem/ListItem.stories.tsx
  packages/react/src/components/ListItem/ListItem.styles.ts
  packages/react/src/components/ProgressIndicator/ProgressIndicator.styles.ts
  packages/react/src/components/RadioButton/RadioButton.styles.ts
  packages/react/src/components/Rating/Rating.styles.ts
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/RatingBase.tsx
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/TextField/TextField.styles.tsx
Due: react

fix(deps): update dependency react-jss to v10.9.0
  packages/react/package.json
  yarn.lock
Due: react

chore(deps): update dependency @testing-library/jest-dom to v5.16.1
  package.json
  yarn.lock
Due: none
