Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

fix: update natds-icons
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

refactor(natds-react): separating sub-components to facilitate maintenance (#1668)
  packages/react/package.json
  packages/react/src/components/IconButton/IconButtonBase.tsx
  packages/react/src/components/Rating/Rating.props.ts
  packages/react/src/components/Rating/Rating.styles.ts
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/Rating/RatingBase.tsx
  packages/react/src/components/Rating/RatingCounter.tsx
  packages/react/src/components/Rating/RatingInput.tsx
  packages/react/src/components/Rating/RatingReadOnly.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

fix: update natds-icons (#1670)
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: none

chore(deps): update rollup dependencies
  package.json
  yarn.lock
Due: none

chore(deps): update dependency storybook-dark-mode to v1.0.9
  packages/react/package.json
  yarn.lock
Due: react

chore(deps): update dependency @naturacosmeticos/eslint-config-natds to v0.0.5
  package.json
  yarn.lock
Due: none

chore: reemove puppeteer
  package.json
  yarn.lock
Due: none

chore: reemove puppeteer (#1676)
  package.json
  yarn.lock
Due: none

chore(deps): update commitlint monorepo to v16
  package.json
  yarn.lock
Due: none

fix(natds-web)
  packages/web/src/Components/Card/Card.stories.tsx
Due: web

chore(deps): update dependency react to v17
  packages/web/src/Components/Container/package.json
Due: web

chore(deps): update dependency @types/react to v17.0.39
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

fix(natds-web): remove Chromatic
  packages/web/package.json
  packages/web/src/Components/LinearProgress/Template.tsx
  packages/web/src/Components/Popover/Popover.stories.tsx
  packages/web/src/Components/Popover/Template.tsx
  yarn.lock
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

fix(natds-web): remove Chromatic (#1678)
  packages/web/package.json
  packages/web/src/Components/LinearProgress/Template.tsx
  packages/web/src/Components/Popover/Popover.stories.tsx
  packages/web/src/Components/Popover/Template.tsx
  yarn.lock
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react-dom to v17.0.13
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update dependency eslint to v8
  package.json
  yarn.lock
Due: none

chore(deps): update jest monorepo
  package.json
  yarn.lock
Due: none

chore(deps): update dependency concurrently to v6.5.1
  package.json
  yarn.lock
Due: none

chore(deps): update jest dependencies
  package.json
  yarn.lock
Due: none

feat(natds-react): adds new AppBar component
  packages/react/src/components/AppBar/AppBar.props.ts
  packages/react/src/components/AppBar/AppBar.spec.tsx
  packages/react/src/components/AppBar/AppBar.styles.ts
  packages/react/src/components/AppBar/AppBar.tsx
  packages/react/src/components/AppBar/__snapshots__/AppBar.spec.tsx.snap
  packages/react/src/components/AppBar/index.ts
  packages/react/src/components/AppBarItem/AppBarItem.props.ts
  packages/react/src/components/AppBarItem/AppBarItem.styles.ts
  packages/react/src/components/AppBarItem/AppBarItem.tsx
  packages/react/src/components/AppBarItem/index.ts
  packages/react/src/index.ts
Due: react

docs(natds-react): add Stories for AppBarTop
  packages/react/src/components/AppBar/AppBar.stories.tsx
Due: react

fix(natds-react): includes typography styles
  packages/react/src/components/AppBar/AppBar.styles.ts
Due: none

refactor(natds-react): change the way to get background and label color
  packages/react/src/components/AppBar/AppBar.styles.ts
Due: none

fix(natds-react): remove spread props
  packages/react/src/components/AppBar/AppBar.tsx
Due: react

test(natds-react): refactor testing
  packages/react/src/components/AppBar/AppBar.spec.tsx
  packages/react/src/components/AppBar/__snapshots__/AppBar.spec.tsx.snap
Due: react

chore: add generate script
  packages/react/package.json
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
