Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(text field): fix input base styles
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
Due: react

chore(textfield): add asterisk when required
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(text field): export component
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/index.ts
Due: react

chore(text field): add onChange and value as props
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(text field): add readOnly storie
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
Due: react

chore(textfield): add readonly styles
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(text field): update snapshot tests
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(release): publish v1.9.0-alpha.DSY-1963.35.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.5.0
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore: update snapshot tests
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

feat(textfield): add new component
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/index.ts
Due: react

chore(text field): update feedback attribute styles
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(text field): add disabled style
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(textfield): add feedback stories
  packages/react/src/components/TextField/TextField.stories.tsx
Due: react

chore(text field): add tests for helper functions
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
Due: react

chore(textfield): add feedback prop
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(textfield): add size prop
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(release): publish v1.8.3-alpha.DSY-1963.3.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore: update typo-ci excluded words
  .typo-ci.yml
Due: none

chore(release): publish v1.9.0-alpha.DSY-1963.39.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

Revert "fix(deps): update dependency @naturacosmeticos/natds-themes to v0.5.0 (#1369)"
  packages/react/package.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  yarn.lock
Due: styles, react, web

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.5.0
  packages/react/package.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  yarn.lock
Due: styles, react, web

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
