Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(card): remove double check
  packages/react/src/components/Card/Card.styles.ts
Due: none

chore(release): publish v2.5.0-alpha.DSY-1960.6.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.5.0-alpha.DSY-1960.12.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.4.1-alpha.DSY-2111.6.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

refactor(button): add conditional type for props (#1423)
  lerna.json
  packages/react/package.json
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
Due: react

feat(card): add new component
  packages/react/src/components/Card/Card.props.ts
  packages/react/src/components/Card/Card.stories.tsx
  packages/react/src/components/Card/Card.styles.ts
  packages/react/src/components/Card/Card.tsx
  packages/react/src/components/Card/index.ts
  packages/react/src/index.ts
Due: react

chore(card): remove unused import
  packages/react/src/components/Card/Card.stories.tsx
Due: react

chore(card): add tests
  packages/react/src/components/Card/Card.test.tsx
  packages/react/src/components/Card/__snapshots__/Card.test.tsx.snap
Due: react

chore(card): fix typo
  packages/react/src/components/Card/Card.stories.tsx
Due: react

chore(card): remove maxWidth
  packages/react/src/components/Card/Card.styles.ts
  packages/react/src/components/Card/__snapshots__/Card.test.tsx.snap
Due: react

chore: update regression tests
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-10-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-11-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-12-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-13-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-14-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-15-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-16-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-17-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-18-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-19-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-20-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-6-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-7-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-8-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-9-snap.png
Due: react

chore(card): improve stories
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-7-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-8-snap.png
  packages/react/src/components/Card/Card.stories.tsx
Due: react

chore(card): remove double check
  packages/react/src/components/Card/Card.stories.tsx
  packages/react/src/components/Card/Card.styles.ts
Due: react

chore(release): publish v2.4.1 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): update dependency typescript to v4.3.4
  package.json
  yarn.lock
Due: none

chore(release): publish v2.5.0-alpha.DSY-1960.14.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency @types/react-dom to v17.0.8
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update dependency eslint to v7.29.0
  package.json
  yarn.lock
Due: none

chore(release): publish v2.5.0-alpha.DSY-1960.18.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

feat(card): add new component (#1422)
  lerna.json
  packages/react/package.json
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-10-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-11-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-12-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-13-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-14-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-15-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-16-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-17-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-18-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-19-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-20-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-6-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-7-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-8-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-9-snap.png
  packages/react/src/components/Card/Card.props.ts
  packages/react/src/components/Card/Card.stories.tsx
  packages/react/src/components/Card/Card.styles.ts
  packages/react/src/components/Card/Card.test.tsx
  packages/react/src/components/Card/Card.tsx
  packages/react/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/react/src/components/Card/index.ts
  packages/react/src/index.ts
Due: react

chore(release): publish v2.5.0 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): update dependency rollup to v2.52.2
  package.json
  yarn.lock
Due: none

chore: bump natds-themes
  packages/react/package.json
  packages/react/src/ThemeProvider/mock-theme.json
  packages/react/src/components/Logo/__snapshots__/Logo.test.tsx.snap
  yarn.lock
Due: react

chore(release): publish v2.4.2-alpha.DSY-2110.3.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

fix(counter): refactor component to remove warnings
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/InputCounter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
Due: web

chore(release): publish v2.5.1-alpha.DSY-2113.1.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

fix(counter): refactor component to remove warnings (#1430)
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/InputCounter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
Due: web

docs(icons): update instructions to use it
  packages/web/docs/icons.md
Due: web

docs(icons): update instructions to use it (#1431)
  packages/web/docs/icons.md
Due: web

chore(deps): update babel monorepo to v7.14.7
  package.json
  packages/web/package.json
  yarn.lock
Due: web

Revert "docs(icons): update instructions to use it (#1431)"
  packages/web/docs/icons.md
Due: web

Revert "docs(icons): update instructions to use it (#1431)" (#1433)
  packages/web/docs/icons.md
Due: web

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
