Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore(deps): update dependency @types/react-dom to v17.0.7
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update babel monorepo
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency chromatic to v5.9.2
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @testing-library/jest-dom to v5.14.1
  package.json
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v4.27.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.52.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency puppeteer to v10
  package.json
  yarn.lock
Due: none

chore(ripple): add missing props documentation
  packages/react/src/components/Ripple/Ripple.props.ts
Due: react

chore(deps): update rollup dependencies
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v2.4.0-alpha.DSY-1938.46.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(checkbox): improve onChange props description
  packages/react/src/components/Checkbox/Checkbox.props.ts
Due: react

chore(deps): update dependency rollup to v2.52.1
  package.json
  yarn.lock
Due: none

chore(release): publish v2.4.0-alpha.DSY-1938.48.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

fix: create alias to component
  package.json
  packages/react/babel.config.js
  yarn.lock
Due: react

fix: create alias to component
  packages/react/babel.config.js
Due: react

feat: create alias to component
  package.json
  packages/react/babel.config.js
  yarn.lock
Due: react

feat: create alias to component (#1421)
  package.json
  packages/react/babel.config.js
  yarn.lock
Due: react

chore(checkbox): fix typo
  packages/react/src/components/Checkbox/Checkbox.props.ts
  packages/react/src/components/Checkbox/Checkbox.stories.tsx
Due: react

chore(checkbox): centralize checkbox inside ripple
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: react

chore(checkbox): add tests
  packages/react/src/components/Checkbox/Checkbox.test.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: react

chore(checkbox): update props
  packages/react/src/components/Checkbox/Checkbox.props.ts
  packages/react/src/components/Checkbox/Checkbox.stories.tsx
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Checkbox/Checkbox.tsx
Due: react

chore: fix Rippple cursor when its disabled
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/Ripple/__snapshots__/Ripple.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(checkbox): add ripple effect
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: react

feat(checkbox): add new component
  packages/react/src/components/Checkbox/Checkbox.props.ts
  packages/react/src/components/Checkbox/Checkbox.stories.tsx
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Checkbox/index.ts
  packages/react/src/index.ts
Due: react

chore(checkbox): add testID as prop
  packages/react/src/components/Checkbox/Checkbox.props.ts
  packages/react/src/components/Checkbox/Checkbox.stories.tsx
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: react

chore(checkbox): remove extra div
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: react

chore(checkbox): add missing test
  packages/react/src/components/Checkbox/Checkbox.test.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: react

chore: update screeshot tests
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-10-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-11-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-12-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-13-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-14-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-15-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-16-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-17-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-18-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-19-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-6-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-7-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-8-snap.png
  packages/react/regression/__image_snapshots__/components-test-ts-components-should-match-previous-screenshot-9-snap.png
Due: react

chore(checkbox): increase ripple animation duration
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.props.ts
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/Ripple/Ripple.tsx
Due: react

chore(checkbox): update component status
  packages/react/src/components/Checkbox/Checkbox.stories.tsx
Due: react

chore(release): publish v2.4.0-alpha.DSY-1938.15.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.4.0-alpha.DSY-1938.13.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.4.0-alpha.DSY-1938.24.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.4.0-alpha.DSY-1938.17.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.4.0-alpha.DSY-1938.26.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(ripple): add focus effect
  packages/react/src/components/Checkbox/Checkbox.stories.tsx
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.props.ts
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/Ripple/Ripple.tsx
  packages/react/src/components/Ripple/__snapshots__/Ripple.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(checkbox): remove label tag
  packages/react/src/components/Checkbox/Checkbox.props.ts
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: react

chore(checkbox): apply correct size token
  packages/react/src/components/Checkbox/Checkbox.stories.tsx
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
Due: react

chore(checkbox): fix size
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: react

chore(ripple): remove hover effect when component is disabled
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/Ripple/__snapshots__/Ripple.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react
