Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(release): publish v1.8.3-alpha.DSY-1963.3.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(textfield): add size prop
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(textfield): add feedback prop
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

feat(textfield): add new component
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/index.ts
Due: react

chore(text field): add disabled style
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(text field): fix input base styles
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
Due: react

chore(textfield): add asterisk when required
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(text field): update feedback attribute styles
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(textfield): add feedback stories
  packages/react/src/components/TextField/TextField.stories.tsx
Due: react

chore: update typo-ci excluded words
  .typo-ci.yml
Due: none

chore(text field): add onChange and value as props
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(text field): add tests for helper functions
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/TextField.tsx
Due: react

fix(deps): update mui monorepo
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v1.9.0-alpha.DSY-1963.16.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency ts-loader to v9
  package.json
  yarn.lock
Due: none

chore(deps): update dependency codecov to v3.8.1
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(deps): update dependency typescript to v4.2.4
  package.json
  yarn.lock
Due: none

chore(text field): add readOnly storie
  packages/react/src/components/TextField/TextField.stories.tsx
  packages/react/src/components/TextField/TextField.styles.ts
Due: react

chore(text field): update snapshot tests
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(release): publish v1.9.0-alpha.DSY-1963.21.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore: downgrade ts-loader
  package.json
  yarn.lock
Due: none

chore: downgrade ts-loader (#1366)
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @testing-library/user-event to v13.1.8
  package.json
  packages/web/package.json
  yarn.lock
Due: web

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
