Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(natds-react): applying properties for accessibility
  packages/react/src/components/IconButton/IconButtonBase.tsx
  packages/react/src/components/Label/Label.tsx
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

fix(natds-react): set height to ripple effect
  packages/react/src/components/Ripple/Ripple.styles.ts
Due: none

test(natds-react): update snapshot tests
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/Ripple/__snapshots__/Ripple.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore: remove unnecessary dependencies (#1659)
  package.json
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update storybook monorepo to v6.4.19
  package.json
  yarn.lock
Due: none

fix: button
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Ripple/Ripple.styles.ts
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore: remove unnecessary dependencies
  yarn.lock
Due: none

chore(natds-react): automating the creation of component files
  packages/react/generators/plopfile.js
  packages/react/generators/templates/component.tsx.hbs
  packages/react/generators/templates/index.ts.hbs
  packages/react/generators/templates/props.ts.hbs
  packages/react/generators/templates/stories.tsx.hbs
  packages/react/generators/templates/styles.ts.hbs
  packages/react/generators/templates/test.tsx.hbs
  packages/react/package.json
  yarn.lock
Due: react

feat(natds-react): adds shortcut component
  packages/react/src/components/Shortcut/Shortcut.props.ts
  packages/react/src/components/Shortcut/Shortcut.stories.tsx
  packages/react/src/components/Shortcut/Shortcut.styles.ts
  packages/react/src/components/Shortcut/Shortcut.test.tsx
  packages/react/src/components/Shortcut/Shortcut.tsx
  packages/react/src/components/Shortcut/__snapshots__/Shortcut.test.tsx.snap
  packages/react/src/components/Shortcut/index.ts
  packages/react/src/index.ts
Due: react

chore(natds-react): improving shortcut style and doc
  packages/react/src/components/Shortcut/Shortcut.props.ts
  packages/react/src/components/Shortcut/Shortcut.stories.tsx
  packages/react/src/components/Shortcut/Shortcut.styles.ts
  packages/react/src/components/Shortcut/Shortcut.test.tsx
  packages/react/src/components/Shortcut/Shortcut.tsx
Due: react

fix(natds-react): change properties of Ripple that affect the behavior of Button component (#1660)
  packages/react/package.json
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/components/Ripple/__snapshots__/Ripple.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.29.0
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore(natds-react): improving component attributes
  packages/react/src/components/Shortcut/Shortcut.props.ts
  packages/react/src/components/Shortcut/Shortcut.stories.tsx
  packages/react/src/components/Shortcut/Shortcut.styles.ts
  packages/react/src/components/Shortcut/Shortcut.test.tsx
  packages/react/src/components/Shortcut/Shortcut.tsx
  packages/react/src/components/Shortcut/__snapshots__/Shortcut.test.tsx.snap
Due: react

chore: update tests
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/ThemeProvider/mock-theme.json
Due: react

chore(natds-react): automating the creation of component files
  yarn.lock
Due: none

chore(deps): pin dependencies
  package.json
  packages/react/package.json
  packages/web/package.json
  packages/web/src/Components/Container/package.json
  yarn.lock
Due: react, web

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
