Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

chore(release): publish v3.0.0-alpha.DSY-2151.3.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/prop-types to v15.7.4
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/react-dom to v17.0.9
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(text field): remove onChange event
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/TextField/TextField.props.ts
  packages/web/src/Components/TextField/TextField.stories.tsx
Due: web

chore(release): publish v3.0.0-alpha.DSY-2151.6.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(text field): add missing props
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/TextField/TextField.argTypes.ts
  packages/web/src/Components/TextField/TextField.props.ts
Due: web

chore(text field): remove search clear logic
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/Field/SearchClear/SearchClear.props.ts
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/TextField/TextField.argTypes.ts
  packages/web/src/Components/TextField/TextField.stories.tsx
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
Due: web

chore(release): publish v3.0.0-alpha.DSY-2151.9.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v3.0.0-alpha.DSY-2151.1.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

fix(counter): remove all event clicks
  packages/web/src/Components/Counter/Container.argTypes.ts
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Counter/Counter.stories.tsx
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/Counter.test.tsx
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Counter/constants.ts
Due: web

chore(toggle button): remove click event and built-in state management
  packages/web/src/Components/ToggleButton/ToggleButton.props.ts
  packages/web/src/Components/ToggleButton/ToggleButton.stories.tsx
  packages/web/src/Components/ToggleButton/ToggleButton.tsx
  packages/web/src/Components/ToggleButton/__snapshots__/ToggleButton.test.tsx.snap
Due: web

chore(dialog): add a11y attributes
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
Due: react

feat(dialog): add new component
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogBody/index.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.props.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogFooter/index.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/DialogHeader/index.ts
  packages/react/src/components/Dialog/index.ts
  packages/react/src/index.ts
Due: react

chore(dialog): fix position
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): add a11y attributes
  .watchmanconfig
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): refactor DialogBody
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.31.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(dialog): fix position
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): improve documentation
  packages/react/src/components/Dialog/Dialog.props.ts
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.39.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(dialog): refactor subcomponents styles
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(dialog): get screen width via js
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.tsx
Due: react

chore(dialog): add size prop
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.46.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.35.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.37.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(dialog): fix export
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Dialog/index.ts
  packages/react/src/index.ts
Due: react

chore(dialog): fix size of dialog when screen is smaller
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.59.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore: change version
  lerna.json
  packages/web/package.json
Due: web

chore(deps): update typescript-eslint monorepo to v4.28.3
  package.json
  yarn.lock
Due: none

chore: fix footer
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Ripple/Ripple.styles.ts
Due: react

chore(release): publish v2.6.0-alpha.DSY-2008.61.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: react

chore(deps): update dependency rollup to v2.53.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency husky to v7
  package.json
  yarn.lock
Due: none
