Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      styles:
        target: auto
        flags:
          - styles
      react:
        target: auto
        flags:
          - react
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  styles:
    paths:
      - packages/styles
    carryforward: false
  react:
    paths:
      - packages/react
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false
ignore:
  - "**/*.styles.ts"

test(natds-react): update snapshots affects: @naturacosmeticos/natds-react DSY-5594
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/react/src/components/Input/InputAction/__snapshots__/InputAction.test.tsx.snap
  packages/react/src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
  packages/react/src/components/MenuItem/__snapshots__/MenuItem.test.tsx.snap
  packages/react/src/components/RadioButton/RadioButton.test.tsx
  packages/react/src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react/src/components/Ripple/__snapshots__/Ripple.test.tsx.snap
  packages/react/src/components/Shortcut/__snapshots__/Shortcut.test.tsx.snap
  packages/react/src/components/Snackbar/__snapshots__/Snackbar.test.tsx.snap
  packages/react/src/components/Tab/__snapshots__/Tab.test.tsx.snap
  packages/react/src/components/TabItem/__snapshots__/TabItem.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

Update CHANGELOG.md
  packages/react/CHANGELOG.md
Due: react

fix(natds-react): fixed CheckBox clickable area affects: @naturacosmeticos/natds-react DSY-6197
  packages/react/src/components/Checkbox/Checkbox.tsx
Due: react

test(natds-react): update snapshot CheckBox affects: @naturacosmeticos/natds-react DSY-6197
  packages/react/src/components/Checkbox/Checkbox.test.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: react

fix(natds-react): added prop areaLabelInput in Counter affects: @naturacosmeticos/natds-react DSY-6197
  packages/react/src/components/Counter/Counter.props.ts
  packages/react/src/components/Counter/Counter.tsx
Due: react

fix(natds-react): TextField border to boxShadow affects: @naturacosmeticos/natds-react DSY-6197
  packages/react/src/Templates/Checkout/Search/styles.ts
  packages/react/src/components/Input/Input.styles.ts
Due: react

test(natds-react): update snapshot TextField affects: @naturacosmeticos/natds-react DSY-6197
  packages/react/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

chore(natds-styles): update theme version 0.83.10 to 0.84.0 affects: @naturacosmeticos/natds-styles DSY-6198
  packages/styles/package.json
  packages/styles/src/themes/natura_v3/natura_v3-light.ts
  yarn.lock
Due: styles

fix(natds-web): update logo Natura V3 affects: @naturacosmeticos/natds-web DSY-6198
  packages/web/src/Components/Logo/Logo.styles.ts
Due: none

test(natds-web): update snapshots testThemes affects: @naturacosmeticos/natds-web DSY-6198
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: web

test(natds-styles): update snapshots affects: @naturacosmeticos/natds-styles DSY-6198
  packages/styles/src/__tests__/themes/biome/__snapshots__/biome.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
Due: styles

fix(natds-styles): update trigger Jenkins affects: @naturacosmeticos/natds-styles DSY-6198
  packages/styles/src/themes/natura_v3/natura_v3-light.ts
Due: styles

fix(natds-web): update trigger Jenkins affects: @naturacosmeticos/natds-web DSY-6198
  packages/web/src/Components/Logo/Logo.styles.ts
Due: none

fix(natds-web): update trigger v3 Jenkins affects: @naturacosmeticos/natds-web DSY-6198
  packages/web/src/Components/Logo/Logo.styles.ts
Due: none

fix(natds-styles): update trigger v3 Jenkins affects: @naturacosmeticos/natds-styles DSY-6198
  packages/styles/src/themes/natura_v3/natura_v3-light.ts
Due: styles

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

feat(natds-react): added news icons affects: @naturacosmeticos/natds-react DSY-6235
  packages/react/.storybook/preview-head.html
  packages/react/package.json
  packages/react/src/components/GayaButton/GayaButton.stories.tsx
  yarn.lock
Due: react

fix(natds-react): update icon filled-content-strawberry affects: @naturacosmeticos/natds-react DSY-6235
  packages/react/.storybook/preview-head.html
  packages/react/package.json
  packages/react/src/components/GayaButton/GayaButton.stories.tsx
  yarn.lock
Due: react

fix(natds-react): added ariaLabelSpan Button component affects: @naturacosmeticos/natds-react DSY-6451
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.tsx
Due: react

fix(natds-react): added ariaLabelSpanIncrement and ariaLabelSpanDecrement affects: @naturacosmeticos/natds-react DSY-6451
  packages/react/src/components/Counter/Counter.props.ts
  packages/react/src/components/Counter/Counter.stories.tsx
  packages/react/src/components/Counter/Counter.tsx
Due: react

fix(natds-react): added accessibility and ariaLabelIcon affects: @naturacosmeticos/natds-react DSY-6451
  packages/react/src/components/GayaButton/GayaButton.props.ts
  packages/react/src/components/GayaButton/GayaButton.tsx
Due: react

fix(natds-react): added accessibility to IconButton affects: @naturacosmeticos/natds-react DSY-6351
  packages/react/src/components/IconButton/IconButton.props.ts
  packages/react/src/components/IconButton/IconButton.stories.tsx
  packages/react/src/components/IconButton/IconButton.tsx
  packages/react/src/components/IconButton/IconButtonBase.tsx
Due: react

fix(natds-react): added accessibility to link affects: @naturacosmeticos/natds-react DSY-6451
  packages/react/src/components/Link/Link.tsx
Due: react

fix(natds-react): added accessibility to ListItem affects: @naturacosmeticos/natds-react DSY-6451
  packages/react/src/components/ListItem/ListItem.stories.tsx
  packages/react/src/components/ListItem/ListItem.tsx
Due: react

fix(natds-react): added accessibility to ProgressIndicator affects: @naturacosmeticos/natds-react DSY-6451
  packages/react/src/components/ProgressIndicator/ProgressIndicator.tsx
Due: react

fix(natds-react): added accessibility to Rating affects: @naturacosmeticos/natds-react DSY-6451
  packages/react/src/components/Rating/RatingBase.tsx
  packages/react/src/components/Rating/RatingInput.tsx
Due: react

fix(natds-react): added accessibility to RadioButton affects: @naturacosmeticos/natds-react DSY-6451
  packages/react/src/components/RadioButton/RadioButton.props.ts
  packages/react/src/components/RadioButton/RadioButton.tsx
Due: react

fix(natds-react): added accessibility to Ripple affects: @naturacosmeticos/natds-react DSY-6451
  packages/react/src/components/Ripple/Ripple.tsx
Due: react

fix(natds-react): added accessibility to ShortCut affects: @naturacosmeticos/natds-react DSY-6451
  packages/react/src/components/Shortcut/Shortcut.tsx
Due: react
