Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

refactor: updates eslint config
  .eslintrc.js
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/IconButton/IconButton.tsx
Due: react

chore: updates release-drafter
  .github/release-drafter.yml
Due: none

docs: updates issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: updates codeql-analysis
  .github/workflows/codeql-analysis.yml
Due: none

fix(natds-react): exports Theme contract and ReactJSS methods (#1627)
  .cicd/message-teams.sh
  packages/react/package.json
  packages/react/src/ThemeProvider/index.ts
  packages/react/src/index.ts
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

docs(natds-react): update docs structure and include a new one
  packages/react/.storybook/main.js
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/design-tokens.stories.mdx
  packages/react/docs/getting-started.stories.mdx
Due: react

chore(natds-react): add natura favicon
  packages/react/.storybook/manager-head.html
  packages/react/.storybook/public/favicon.png
Due: react

chore(natds-react): setup staticDirs
  packages/react/.storybook/main.js
  packages/react/package.json
Due: react

chore(natds-react): replace TextField image placeholder
  packages/react/.storybook/static/img_placeholder.png
  packages/react/.storybook/static/img_placeholder.svg
  packages/react/src/components/TextField/TextField.stories.tsx
Due: react

chore: improve bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

chore: repo improvements (#1629)
  .eslintrc.js
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/release-drafter.yml
  .github/workflows/codeql-analysis.yml
  packages/react/package.json
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/IconButton/IconButton.tsx
Due: react

chore(natds-react): improve Storybook styles and documentation (#1628)
  packages/react/.storybook/main.js
  packages/react/.storybook/manager-head.html
  packages/react/.storybook/public/favicon.png
  packages/react/.storybook/static/img_placeholder.png
  packages/react/.storybook/static/img_placeholder.svg
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/design-tokens.stories.mdx
  packages/react/docs/getting-started.stories.mdx
  packages/react/package.json
  packages/react/src/components/TextField/TextField.stories.tsx
Due: react

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.22.0
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Due: styles, react

chore: update tests
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/ThemeProvider/mock-theme.json
  packages/styles/src/__tests__/themes/aesop/__snapshots__/aesop.test.ts.snap
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/biome/__snapshots__/biome.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/web/src/Provider/__snapshots__/buildTheme.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, react, web

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.10.1
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update dependency shelljs to v0.8.5 [security]
  package.json
  yarn.lock
Due: none

chore(deps): update dependency puppeteer to v13.1.1
  package.json
  yarn.lock
Due: none

style: updates lint rules
  .eslintrc.js
  package.json
  yarn.lock
Due: none

style: updates lint rules (#1633)
  .eslintrc.js
  package.json
  yarn.lock
Due: none

feat(natds-react): add Link component
  packages/react/src/components/Link/Link.props.ts
  packages/react/src/components/Link/Link.stories.tsx
  packages/react/src/components/Link/Link.styles.ts
  packages/react/src/components/Link/Link.test.tsx
  packages/react/src/components/Link/Link.tsx
  packages/react/src/components/Link/index.ts
  packages/react/src/index.ts
Due: react

chore(deps): update natds-themes dependency
  packages/react/package.json
  yarn.lock
Due: react

chore(natds-react): includes size, position and icon props
  packages/react/src/components/Link/Link.props.ts
  packages/react/src/components/Link/Link.stories.tsx
  packages/react/src/components/Link/Link.styles.ts
  packages/react/src/components/Link/Link.tsx
Due: react

chore(natds-react): add textColor props
  packages/react/src/components/Link/Link.props.ts
  packages/react/src/components/Link/Link.stories.tsx
  packages/react/src/components/Link/Link.styles.ts
  packages/react/src/components/Link/Link.test.tsx
  packages/react/src/components/Link/Link.tsx
  packages/react/src/components/Link/__snapshots__/Link.test.tsx.snap
Due: react

chore(natds-react): update mock themes
  packages/react/src/ThemeProvider/__snapshots__/buildTheme.test.ts.snap
  packages/react/src/ThemeProvider/mock-theme.json
Due: react

chore(natds-react): improve component description
  packages/react/src/components/Link/Link.stories.tsx
Due: react

test(natds-react): add missing tests
  packages/react/src/components/Link/Link.test.tsx
  packages/react/src/components/Link/__snapshots__/Link.test.tsx.snap
Due: react

chore(natds-react): update regression tests
  packages/react/regression/__image_snapshots__/button--disabled-snap.png
  packages/react/regression/__image_snapshots__/button--icon-snap.png
  packages/react/regression/__image_snapshots__/button--sizes-snap.png
  packages/react/regression/__image_snapshots__/button--variants-snap.png
  packages/react/regression/__image_snapshots__/card--elevation-snap.png
  packages/react/regression/__image_snapshots__/card--playground-snap.png
  packages/react/regression/__image_snapshots__/card--radius-snap.png
  packages/react/regression/__image_snapshots__/counter--playground-snap.png
  packages/react/regression/__image_snapshots__/dialog--playground-snap.png
  packages/react/regression/__image_snapshots__/link--playground-snap.png
  packages/react/regression/__image_snapshots__/link--variants-snap.png
  packages/react/regression/__image_snapshots__/link--with-icon-snap.png
  packages/react/regression/__image_snapshots__/listitem--divider-snap.png
  packages/react/regression/__image_snapshots__/listitem--interaction-action-snap.png
  packages/react/regression/__image_snapshots__/listitem--interaction-selectable-snap.png
  packages/react/regression/__image_snapshots__/listitem--playground-snap.png
  packages/react/regression/__image_snapshots__/logo--size-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--backdrop-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--playground-snap.png
  packages/react/regression/__image_snapshots__/progressindicator--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-icon-snap.png
  packages/react/regression/__image_snapshots__/textfield--action-image-snap.png
  packages/react/regression/__image_snapshots__/textfield--disabled-snap.png
  packages/react/regression/__image_snapshots__/textfield--helper-text-snap.png
  packages/react/regression/__image_snapshots__/textfield--playground-snap.png
  packages/react/regression/__image_snapshots__/textfield--read-only-snap.png
  packages/react/regression/__image_snapshots__/textfield--required-snap.png
  packages/react/regression/__image_snapshots__/textfield--size-snap.png
  packages/react/regression/__image_snapshots__/textfield--type-snap.png
  packages/react/regression/__image_snapshots__/typography--custom-fonts-snap.png
  packages/react/regression/components.test.ts
Due: react

chore(natds-react): improve Link stories
  packages/react/src/components/Link/Link.stories.tsx
Due: react

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
