Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: styles, react, web

chore(natds-web): changes the way to render the list item when it has a href
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.styles.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.tsx
Due: web

fix(natds-web): fix onClickLink type
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
Due: web

fix(natds-web): adds onClickLink to DrawerMenuItem props
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.styles.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/__snapshots__/DrawerMenuItem.test.tsx.snap
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/__snapshots__/DrawerMenuSection.test.tsx.snap
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
Due: web

fix(natds-web): adds unmountOnExit as prop
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.tsx
Due: web

chore(natds-web): adds unmountOnExit to DrawerMenu
  packages/web/src/Components/DrawerMenu/DrawerMenu.props.ts
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/package.json
Due: web

fix(natds-web): adds improvements to DrawerMenu (#1591)
  packages/web/package.json
  packages/web/src/Components/DrawerMenu/DrawerMenu.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenu.stories.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.styles.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/__snapshots__/DrawerMenuItem.test.tsx.snap
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/__snapshots__/DrawerMenuSection.test.tsx.snap
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
  packages/web/src/Components/DrawerMenu/index.ts
  packages/web/src/index.ts
Due: web

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency chromatic to v6.1.0
  packages/web/package.json
  yarn.lock
Due: web

fix(natds-web): update generateClassName to work in dev environment
  packages/web/src/Provider/Provider.tsx
Due: web

test(natds-web): update snapshot tests
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Fab/__snapshots__/Fab.test.tsx.snap
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/web/src/Components/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  packages/web/src/Components/SnackbarContent/__snapshots__/SnackbarContent.test.tsx.snap
  packages/web/src/Components/Spacing/__snapshots__/Spacing.test.tsx.snap
  packages/web/src/Components/Tag/__snapshots__/Tag.test.tsx.snap
  packages/web/src/Components/Toolbar/__snapshots__/Toolbar.test.tsx.snap
Due: web

fix(natds-web): update generateClassName to work in dev environment (#1594)
  packages/web/package.json
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Fab/__snapshots__/Fab.test.tsx.snap
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/web/src/Components/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  packages/web/src/Components/SnackbarContent/__snapshots__/SnackbarContent.test.tsx.snap
  packages/web/src/Components/Spacing/__snapshots__/Spacing.test.tsx.snap
  packages/web/src/Components/Tag/__snapshots__/Tag.test.tsx.snap
  packages/web/src/Components/Toolbar/__snapshots__/Toolbar.test.tsx.snap
  packages/web/src/Provider/Provider.tsx
Due: web

fix(deps): update dependency @naturacosmeticos/natds-icons to v1.9.1
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: react, web

chore(deps): update storybook monorepo to v6.4.4
  package.json
  yarn.lock
Due: none

fix(natds-web): fix height of Counter
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Fab/__snapshots__/Fab.test.tsx.snap
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/web/src/Components/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  packages/web/src/Components/SnackbarContent/__snapshots__/SnackbarContent.test.tsx.snap
  packages/web/src/Components/Spacing/__snapshots__/Spacing.test.tsx.snap
  packages/web/src/Components/Tag/__snapshots__/Tag.test.tsx.snap
  packages/web/src/Components/Toolbar/__snapshots__/Toolbar.test.tsx.snap
  packages/web/src/Provider/Provider.tsx
Due: web

fix(natds-web): fix the Counter input height
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Fab/__snapshots__/Fab.test.tsx.snap
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/web/src/Components/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  packages/web/src/Components/SnackbarContent/__snapshots__/SnackbarContent.test.tsx.snap
  packages/web/src/Components/Spacing/__snapshots__/Spacing.test.tsx.snap
  packages/web/src/Components/Tag/__snapshots__/Tag.test.tsx.snap
  packages/web/src/Components/Toolbar/__snapshots__/Toolbar.test.tsx.snap
  packages/web/src/Provider/Provider.tsx
Due: web

fix(natds-web): fix the Counter input height (#1596)
  packages/web/package.json
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Fab/__snapshots__/Fab.test.tsx.snap
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/web/src/Components/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  packages/web/src/Components/SnackbarContent/__snapshots__/SnackbarContent.test.tsx.snap
  packages/web/src/Components/Spacing/__snapshots__/Spacing.test.tsx.snap
  packages/web/src/Components/Tag/__snapshots__/Tag.test.tsx.snap
  packages/web/src/Components/Toolbar/__snapshots__/Toolbar.test.tsx.snap
  packages/web/src/Provider/Provider.tsx
Due: web

chore(deps): update dependency puppeteer to v12
  package.json
  yarn.lock
Due: none

chore(natds-react): automate teams message in releases update
  packages/react/scripts/message_teams.json
  packages/react/scripts/message_teams.sh
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/package.json
Due: react

chore(natds-react): call the message-teams
  .cicd/release-npm.sh
  packages/react/scripts/message_teams.json
Due: react

chore(natds-react): removing script call
  .cicd/release-npm.sh
Due: none

chore(deps): update dependency rollup to v2.60.2
  package.json
  yarn.lock
Due: none

fix(natds-react): resolve textField dependecy cycle
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Input/InputHelperText/InputHelperText.styles.ts
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.styles.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Due: react

fix(natds-react): export label as component
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Counter/Counter.tsx
  packages/react/src/components/Label/Label.tsx
  packages/react/src/components/Label/index.ts
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/_subcomponents/Label/index.ts
  packages/react/src/index.ts
Due: react

fix(natds-web): fix TextField bug (#1601)
  packages/react/package.json
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Counter/Counter.tsx
  packages/react/src/components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/react/src/components/Input/InputHelperText/InputHelperText.styles.ts
  packages/react/src/components/Label/Label.tsx
  packages/react/src/components/Label/index.ts
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/Rating/Rating.tsx
  packages/react/src/components/TextField/TextField.props.ts
  packages/react/src/components/TextField/TextField.styles.tsx
  packages/react/src/components/TextField/TextField.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react/src/components/_subcomponents/Label/index.ts
  packages/react/src/index.ts
Due: react

chore(release): bump natds-js packages via lerna [skip-ci]
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

chore(deps): update storybook monorepo to v6.4.8
  package.json
  yarn.lock
Due: none

Path conditions:
  styles: any of: packages/styles, but not: **/*.styles.ts
  react: any of: packages/react, but not: **/*.styles.ts
  web: any of: packages/web, but not: **/*.styles.ts
